<?xml version="1.0"?>
<!--Dev Server-->
  <connectionStrings>
    <clear />
    <add name="ConnectionString1" connectionString="Data Source=LHRLT-1416;User ID=sa;Password=Abcd@1234;Persist Security Info=True;Max Pool Size=1024;Initial Catalog=BLRMIS_Website;" providerName="System.Data.SqlClient"/>
    <!--<add name="Log4NetLogConnection" connectionString="Data Source=TS-BLRMIS-326;User ID=sa;Password=Abcd@1234;Persist Security Info=True;Max Pool Size=1024;Initial Catalog=BCLRMIS_Log4NetLog;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

