<?xml version="1.0"?>
<!--QA Server-->
  <connectionStrings>
    <clear />
    <add name="ConnectionString1" connectionString="Data Source=TS-BLRMIS-326\BLRMIS_QA;User ID=sa;Password=Abcd@1234;Persist Security Info=True;Max Pool Size=1024;Initial Catalog=BLRMIS_ScanningNIndexing_Stats;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString2" connectionString="Data Source=TS-BLRMIS-326\BLRMIS_QA;User ID=sa;Password=Abcd@1234;Persist Security Info=True;Max Pool Size=1024;Initial Catalog=BLRMIS_ScanningNIndexing_Stats;" providerName="System.Data.SqlClient"/>
    <add name="DocumentConnection" connectionString="Data Source=TS-BLRMIS-326\BLRMIS_QA;User ID=sa;Password=Abcd@1234;Persist Security Info=True;Max Pool Size=1024;Initial Catalog=BLRMIS_ScanningNIndexing_Stats;" providerName="System.Data.SqlClient"/>
    <add name="Log4NetLogConnection" connectionString="Data Source=TS-BLRMIS-326\BLRMIS_QA;User ID=sa;Password=Abcd@1234;Persist Security Info=True;Max Pool Size=1024;Initial Catalog=BCLRMIS_Log4NetLog;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
