@page "/changepassword"
@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <partial name="_MainHeaderScriptsPartial" />
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.png" />
    <base href="/BLRMIS.AdminUI/">
</head>
<body>
    <div class="loading"></div>
    <header id="header">
        <partial name="_MainTopBarPartial" />
    </header>
    <div class="dashboard-holder password-reset-page">
        <aside class="sider-menu">
            <partial name="_MainNavigationPanelPartial" />
        </aside>
        <div class="right-panel">

            <div class="login update-your-password">
                <div class="row h-90 justify-content-center align-items-center">
                    <div class="login-cnt-holder">
                        <div class="login-container forgot-password enter-email-screen">
                            <div class="hd-holder">
                                <h6>Change Password</h6>
                                <span class="bd-line"></span>
                            </div>
                            <form action="" class="was-validated mt20">
                                <div class="form-group" id="newPassword">
                                    <label for="newPassword">Enter Old Password</label>
                                    <input type="password" class="form-control pretty-input" id="newPassword" data-bind="value: newPassword">
                                </div>
                                <div class="form-group" id="confirmPassword">
                                    <label for="confirmPassword">Set New Password</label>
                                    <input type="password" class="form-control pretty-input" id="confirmPassword" data-bind="value: confirmPassword">
                                </div>
                                <div class="login-button">
                                    <button type="submit" class="login-btn btn-primary" data-bind="click: onSubmit, disable: isRequestInProcess()">Done</button>
                                </div>
                            </form>
                            <div class="set-new-password set-new-passwordtext">
                                <p>To make your password more secure:</p>
                                <ul class="secure-password">
                                    <li> Use letters and numbers </li>
                                    @*<li> Use special characters (e.g., @)</li>*@
                                    <li> Use special characters (e.g., @("@")) </li>
                                    <li> Mix lower and uppercase </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_MainFooterPartial" />
        </div>
    </div>
    <partial name="_MainBottomScriptsPartial" />
    @*@RenderSection("Scripts", required: false)*@
    <partial name="_ConfirmBoxPartial" />
    <script>

    </script>
</body>
</html>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            viewModel.confirmPassword.extend({
                required: true, maxLength: $constants.passwordMaxLength, equal: { message: $constants.passwordMustMatchMessage, params: viewModel.newPassword }
            });
            $lib.bindUI(viewModel);
            $lib.setPageTitle("Change Password");
        });

        var viewModel = {

            newPassword: ko.observable("").extend({
                required: true, minLength: { message: $constants.passwordLengthMessage, params: $constants.passwordMinLength },
                maxLength: { message: $constants.passwordLengthMessage, params: $constants.passwordMaxLength },
                pattern: {
                    message: $constants.passwordPolicyMessage,
                    params: $constants.passwordRegex
                }
            }),
            confirmPassword: ko.observable(""),
            errors: {},
            isRequestInProcess: ko.observable(false),
            onSubmit: onSubmit,
        }

        function onSubmit() {

            if (viewModel.errors().length == 0) {

                viewModel.isRequestInProcess(true);
                $lib.showSpinner(true);
                var requestModel = {
                    Password: viewModel.newPassword()
                };
                $lib.http.post("/changepassword/", requestModel, afterPasswordChanged);

            } else {
                viewModel.errors.showAllMessages();
            }
        }

        function afterPasswordChanged(err, res) {

            viewModel.isRequestInProcess(false);
            $lib.showSpinner(false);
            if (err)
                return;
            $toastMessages.showSuccess("password changed successfully");
            resetForm();
            $("#newPassword").removeClass("focused");
            $("#confirmPassword").removeClass("focused");
        }

        function resetForm() {

            viewModel.newPassword("");
            viewModel.confirmPassword("");
            viewModel.errors.showAllMessages(false);
        }

    </script>
}

