    <div class="col-md-8 offset-md-2 text-center sub-box">
        <img src="~/images/tick.png" />
        <h3>Success!</h3>
        <p class="largetext" >Complaint updated successfully.</p>
        @*<p class="phone-no" data-bind="text:ComplaintCode"></p>*@
        @*<p>A representative will check out your complaint shortly.</p>*@
        @*<a href="Complaint-page.html" class="btn btn-print">Print</a>*@
    </div>
