@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <!--div class="col-md-3 col-sm-12 order-md-4">
                    <h4> Download E-stamp Verification App</h4>
                     <div class="e-stamping-btn">
                       <img src="images/download-button.png" alt="e-stamping app">
                     </div>
                  </div-->
                <div class="col-md-4 col-sm-6 order-md-1 col-6">
                    <h4>Board Of Revenue Balochistan</h4>
                    <ul class="list-unstyled content-detail">
                        <li> <a href="tel:0819202667" class="phone-no">(081) 9202667</a> </li>
                        <li> <a href="mailto:info@balochistan-zameen.gov.pk" class="email-address">info@balochistan-zameen.gov.pk</a> </li>
                        <li>
                            <p class="location">
                                Balochistan Land Records Authority - BLRA  Government of the Balochistan
                                2-Kilometer DHA Housing Society,
                                Quetta
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 order-md-2 col-6">
                    <h4> Links </h4>
                    <ul class="list-unstyled footer-link">
                        <li> <a asp-page="/Content/About">Government of Balochistan</a> </li>
                        <li> <a href="">Federal Board of Revenue</a> </li>
                        <li> <a asp-page="/Content/EStamping"> E-Stamp</a> </li>
                        <li> <a asp-page="/Content/Grievance"> Grievance</a> </li>
                        <li> <a asp-page="/Faq/Index"> FAQs</a> </li>
                        <li> <a asp-page="/Content/ContactUs">Contact Us </a> </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12  order-md-3">
                    <h4> Also available on Andriod </h4>
                    <div class="e-stamping-btn mt10">
                        <a data-bind="attr: { href: playstoreLink ? playstoreLink : '' }">
                            <img src="~/images/google-play.svg" alt="e-stamping app">
                        </a>
                    </div>
                    <div class="social-media mt10">
                        <h4> Follow us</h4>
                        <ul class="list-unstyled">
                            <li> <a data-bind="attr: { href: facebookLink }"> <span class="icon-fb-icon"><span class="path1"></span><span class="path2"></span></span> </a> </li>
                            <li> <a data-bind="attr: { href: twitterLink }"><span class="icon-twitter-icon"><span class="path1"></span><span class="path2"></span></span></a> </li>
                            <li> <a data-bind="attr: { href: youtubeLink }"><span class="icon-youtube-icon"><span class="path1"></span><span class="path2"></span></span></a> </li>
                            <li> <a data-bind="attr: { href: linkedInLink }"><span class="icon-linkedin-icon"><span class="path1"></span><span class="path2"></span></span></a> </li>
                        </ul>
                    </div>
                    <div class="visitor-counter mt10">
                        <h4> Visitor Counter</h4>
                        <ul class="list-unstyled">
                            <li> <a href="">1 </a> </li>
                            <li> <a href=""> 2</a> </li>
                            <li> <a href=""> 3 </a> </li>
                            <li> <a href=""> 4 </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-rights text-center">
        <div class="container">
            <span style="color: black">
                Copyrights &copy; @DateTime.Now.Year Balochistan Board of Revenue
            </span>
        </div>
    </div>
</footer>

<script type="text/javascript">

    $(document).ready(function () {
        ko.applyBindings(footerModel, $("#footer").get(0));
    });

    var footerModel = {
        playstoreLink: ko.observable($lib.appSettings.PlaystoreLink),
        facebookLink: ko.observable($lib.appSettings.FacebookLink),
        twitterLink: ko.observable($lib.appSettings.TwitterLink),
        youtubeLink: ko.observable($lib.appSettings.YoutubeLink),
        linkedInLink: ko.observable($lib.appSettings.LinkedInLink)
    };

</script>
