@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="log-holder">
    <div class="container">
        <div class="row">
            <div class="col-9 col-md-3">
                <div class="logo">
                    <a href="/BLRMIS.UI/">
                        <img src="~/images/logo.svg" alt="BBOR">
                    </a>
                </div>
            </div>
            <div class="col-3 col-md-9 justify-content-end d-flex">
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- <ul class="dw-faqs">
                  <li>
                    <a href=""> Downloads </a>
                  </li>
                  <li>
                      <a href=""> FAQs </a>
                    </li>
                </ul> -->

            </div>
        </div>
    </div>
</div>