@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="menu-holder">
    <div class="container">
        <div class="inner-menu-holder">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Content/About">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Content/PropertyRegistory">Property Registry</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/TaxCalculator/Index">Tax Calculator</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:">Fee Schedule</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link complaints complaint" asp-page="/complaint/complaintform">Complaints</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:">Digitize Map</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link newsdetail" asp-page="/News/Index">News</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Content/ContactUs">Contact Us</a>
                                </li>
                            </ul>
                            <ul class="dw-faqs">
                                <li>
                                    <a asp-page="/Downloads/Downloads"> Downloads </a>
                                </li>
                                <li>
                                    <a asp-page="/Faq/Index"> FAQs </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>