
@{
    ViewBag.Title = "Dashboard";
}

@section style{
    .borderMargin {
    border: 2px solid black;
    margin: 2px 40px;
    }
}

<h2>Product Manager</h2>
<br /><br /><br />


<div class="row">
    <a href="/mens-clothing-sale/Products" class="card col-sm-3 borderMargin">
        <div class="card-body">
            <h5 class="card-text text-center">Add Product</h5>
        </div>
    </a>
    <a href="#" class="card col-sm-3 borderMargin">
        <div class="card-body">
            <h5 class="card-text text-center">Manage Clients</h5>
        </div>
    </a>
    <a href="#" class="card col-sm-3 borderMargin">
        <div class="card-body">
            <h5 class="card-text text-center">Manage Product</h5>
        </div>
    </a>
</div>