.login {
  background: url('../images/login-banner.png') no-repeat;
  background-size: cover;
  height: 100vh;
  .login-container {
    width: 450px;
    padding: 15px 40px;
    margin: 0 auto;
    text-align: center;
    background: $white;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 rgba(58,58,58,0.48);
    .login-img {
      margin: 12px 0;
      margin-bottom: 21px;
    }
    .form-group {
      position: relative;
      overflow: hidden;
      padding: 0 0 20px;

      &.focused {
        outline: none;
        label {
          color: $flush-orange;	
          font-family: Helvetica;	
          font-size: 10px;	
          line-height: 12px;
          top: 5px;
          transform: translateY(0);
          
        }
      }
      label {
       position: absolute;
       top: 25px;
       transform: translateY(-50%);
       color: #626262;	
       font-family: Helvetica;	
       font-size: 14px;	
       line-height: 17px;
       width: auto;
       left: 20px;
       transition: all 0.2s ease;
       margin-bottom: 0;
      }
      input {
        height: 50px;
        border: 1px solid $flush-orange;
        font-size: 14px;
        line-height: 17px;
        padding: 10px 20px 0 20px;	
        border-radius: 4px;	
        background-color: $white;
        &:focus {
          outline: none;
        }
      }
      .invalid-feedback {
        text-align: left;
        padding-left: 20px;
        color: $cinnabar;		
        font-size: 12px;	
        line-height: 14px;
        display: none;
      }
      .valid-feedback {
        background-color: $fun-green;		
        font-size: 10px;
        line-height: 14px;
        position: absolute;
        right: 15px;
        border-radius: 20px;
        width: 15px;
        height: 15px;
        color: $white;
        top: 15px;
        padding-top: 1px;
        display: block;
      }
    }
    .login-button{
      margin: 0;
    }
  }
}
.login-content {
  h1 {
    margin: 0;
    font-size: 24px;	
    line-height: 29px;
    color: #4D4D4D;
    margin-bottom: 20px;
  }
}

.pretty-input ~ .valid-feedback{
  position:absolute;
}

.pretty-input ~ .invalid-feedback{
  position:absolute;
}
.login-button {
  margin-bottom: 38px;
  .login-btn {
    font-size: 16px;	
    font-weight: 400;	
    letter-spacing: 0.4px;	
    line-height: 19px;	
    text-align: center;
    color: $white;
    background-color: $flush-orange;
    padding: 12px 50px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      background-color: $white;
      border:1px solid $black;
      color: $black;
    }
  }
  a {
    display: block;
    font-size: 14px;	
    letter-spacing: 0.35px;	
    line-height: 17px;
    color: $abbey;
  }
}
