.discription{
  margin-bottom: 0px;
  span{
    display: block;
    color: $tundora;
    font-size: 12px;	
    font-weight: 500;	
    line-height: 19px;
  }
  .form-group{
    margin-top: 5px;
    margin-bottom: 30px;
    .form-control{
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      font-size: 12px;	
      line-height: 19px;
      width: 250px;
      padding: 20px 5px;
      color: $abbey;
    }
    button {
      background-color: $white;
      border: 1px solid $black;
      padding: 2px 10px;
      color: $tundora;
      border-radius: 2px;
      vertical-align: middle;
      font-weight: 400;
      cursor: pointer;
      &:hover {
        background-color: $fun-green-dark;
        border-color: transparent;
        color: $white;
      }
      &.active {
        background-color: $fun-green-dark;
        border-color: transparent;
        color: $white;
      }
    }
  }
  strong{
    color: $black;
    font-size: 14px;	
    line-height: 20px;
    font-weight: 500;
  }
  @include media-breakpoint-down(xs-480) {
    .form-control{
      clear: both;
      display: block !important;
    }
    button{
      margin-top: 10px;
    }
  }
}
.hd-border{
	border-bottom: 1px dashed $black;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.form-holder{
 label{
	font-size: 12px;	
	font-weight: 500;	
	line-height: 19px;
	text-transform: capitalize;
 }
}
.table{
  thead{
    th{
      background-color: $gallery;
      border-bottom: inherit;
      font-size: 10px;	
      line-height: 18px;
      font-weight: 500;
      color: $black;
      padding: 5px 10px;
    }
  }
  td{
    border: 1px solid $dustygray;
    font-size: 12px;	
    line-height: 20px;
    font-weight: 300;
    color: $tundora;
    padding: 5px 10px;
    i{
      display: block;
      text-align: center;
      font-size: 22px;
      line-height: 24px;
      color: $black;
      text-decoration: none;
    }
  }
}
.printing{
  border-top: 1px solid $tundora;
  margin: 15px 0;
  padding: 25px 0;
  .buttons-holder{
    float: right;
    
    button{
      font-size: 14px;	
      font-weight: 500;	
      line-height: 18px;
      color: $tundora;
      padding: 8px 36px;
      border-radius: 2px;
    }
    .print{
      padding: 8px 19px;
      margin-left: 20px;
    }
  }
}
.challan-details {
  background-color: $barley-white;
  padding: 20px 0;
  width: 100%; 
  strong {
    font-size: 18px;	
    font-weight: 500;	
    line-height: 19px;
    color: $black;
  }
  .float-right {
    text-align: right;
  }
}