/*Custom variables*/
/* updated colors */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?nvkc63");
  src: url("../fonts/icomoon.eot?nvkc63#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?nvkc63") format("truetype"), url("../fonts/icomoon.woff?nvkc63") format("woff"), url("../fonts/icomoon.svg?nvkc63#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

icon-call-icon-footer:before {
  content: "\e90a";
  color: #fff;
}

.icon-email-icon-footer:before {
  content: "\e90b";
  color: #fff;
}

.icon-fb-icon .path1:before {
  content: "\e90c";
  color: #336699;
}

.icon-fb-icon .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: white;
}

.icon-google-play:before {
  content: "\e90e";
}

.icon-linkedin-icon .path1:before {
  content: "\e90f";
  color: #0977b5;
}

.icon-linkedin-icon .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: white;
}

.icon-location-icon-footer:before {
  content: "\e911";
  color: #fff;
}

.icon-right-arrow-footer:before {
  content: "\e912";
  color: #fff;
}

.icon-twitter-icon .path1:before {
  content: "\e913";
  color: #00aced;
}

.icon-twitter-icon .path2:before {
  content: "\e914";
  margin-left: -0.96875em;
  color: white;
}

.icon-youtube-icon .path1:before {
  content: "\e915";
  color: #cc3333;
}

.icon-youtube-icon .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: white;
}

.icon-complaint-icon:before {
  content: "\e900";
  color: #fff;
}

.icon-digitize-map-icon:before {
  content: "\e901";
  color: #fff;
}

.icon-e-stamping-icon:before {
  content: "\e902";
  color: #fff;
}

.icon-fee-schedules-icon:before {
  content: "\e903";
  color: #fff;
}

.icon-grievance-icon:before {
  content: "\e904";
  color: #fff;
}

.icon-logo-icon:before {
  content: "\e905";
  color: #01923f;
}

.icon-markaz-sahuliyat-icon:before {
  content: "\e906";
  color: #fff;
}

.icon-property-register-icon:before {
  content: "\e907";
  color: #fff;
}

.icon-registry-deeds-icon:before {
  content: "\e908";
  color: #fff;
}

.icon-tax-calculator-icon:before {
  content: "\e909";
  color: #fff;
}

.icon-download-icon:before {
  content: "\e917";
  color: #01923f;
}

@media (max-width: 767.98px) {
  .banner-menu-holder .icon-property-register-icon:before {
    content: "\e907";
    color: #004545;
  }
  .banner-menu-holder .icon-fee-schedules-icon:before {
    content: "\e903";
    color: #004545;
  }
  .banner-menu-holder .icon-digitize-map-icon:before {
    content: "\e901";
    color: #004545;
  }
  .banner-menu-holder .icon-complaint-icon:before {
    content: "\e900";
    color: #004545;
  }
  .banner-menu-holder .icon-tax-calculator-icon:before {
    content: "\e909";
    color: #004545;
  }
}

.icon-grievance-icon:before {
  content: "\e904";
  color: #fff;
}

#header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
  padding-top: 10px;
  position: relative;
}

#header .logo {
  /*margin: 0 0 -17px 5px;*/
  position: relative;
  z-index: 2;
  width: 170px;
}

#header .logo img {
  max-width: 100%;
}

@media (min-width: 992px) {
  #header .logo {
    /* margin: 0 0 -27px 5px;*/
    width: 250px;
  }
}

#footer {
  display: block;
  height: 1%;
  width: 100%;
  color: #fff;
  font-size: 14px;
}

#footer .footer-content {
  background: #052323;
  margin-top: 20px;
}

#footer .footer-content [class^="col-"], #footer .footer-content [class*=" col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  #footer .footer-content [class^="col-"], #footer .footer-content [class*=" col-"] {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#footer .footer-content [class^="col-"] h4, #footer .footer-content [class*=" col-"] h4 {
  color: #fff;
  font-size: 21px;
}

#footer .footer-content [class^="col-"] li a, #footer .footer-content [class*=" col-"] li a {
  color: #fff;
  font-weight: 100;
  font-size: 14px;
}

#footer .footer-content [class^="col-"] li a:hover, #footer .footer-content [class*=" col-"] li a:hover {
  color: #ff7c00;
}

#footer .footer-content .social-media ul {
  padding: 0;
  margin: 0;
}

#footer .footer-content .social-media ul li {
  display: inline-block;
  padding-right: 10px;
}

#footer .footer-content .e-stamping-btn img {
  max-width: 180px;
  width: 100%;
}

#footer .copy-rights {
  padding: 10px 0;
  font-size: 12px;
  font-weight: 100;
}

#footer .copy-rights a {
  color: #000;
  font-size: 12px;
  font-weight: 100;
}

#footer .copy-rights a:hover {
  color: #ff7c00;
}

#footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.visitor-counter ul {
  background: #828282;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #BABABA;
}

.visitor-counter ul li {
  display: inline-block;
  padding: 0 8px;
  border-right: 1px solid #BABABA;
}

.social-media a [class^="icon-"], .social-media a [class*=" icon-"] {
  font-size: 30px;
}

.footer-link li {
  padding-bottom: 10px;
}

.footer-link li a:before {
  content: "\e912";
  color: #fff;
  font-family: icomoon;
  display: inline-block;
  padding-right: 10px;
  font-size: 10px;
}

/*.content-detail{
    li{
        padding-bottom: 10px;
      .phone-no:before{
         content: "\e90a";
        color: $white;
        font-family: icomoon;
        display: inline-block;
        padding-right: 15px;
      }
      .email-address:before{
        content: "\e90b";
        color: $white;
        font-family: icomoon;
        display: inline-block;
        padding-right: 10px;
      }
      .location:before{
      
          content: "\e911";
          color: $white;
          font-family: icomoon;
          display: inline-block;
          padding-right: 10px; 
        
      }
    }
  }*/
/*@import 'layout/slick';
@import '_popups.scss';*/
/*Nav*/
.log-holder {
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

.dw-faqs {
  position: relative;
  margin: 0;
}

@media (min-width: 992px) {
  .dw-faqs {
    position: absolute;
    right: 0;
    top: 0;
    margin: -55px 0 0 0;
  }
}

.dw-faqs li {
  float: left;
  padding: 0 10px;
  background-image: url("../images/pipeline.png");
  background-position: center right;
  background-repeat: no-repeat;
}

.dw-faqs li a {
  color: #000;
  font-size: 12px;
}

.dw-faqs li:last-child {
  padding-right: 0;
  border-right: none;
  background-image: none;
}

.menu-holder {
  position: relative;
}

.menu-holder .navbar {
  padding: 0;
}

@media (max-width: 991.98px) {
  .menu-holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
  .menu-holder #navbarSupportedContent {
    background: #fff;
    z-index: 1;
  }
  .menu-holder #navbarSupportedContent a {
    text-align: left;
    border-bottom: 1px solid #000;
  }
  .menu-holder .navbar {
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: right;
  }
}

.menu-holder .navbar-nav {
  width: 100%;
}

.menu-holder .navbar-nav li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 768px) {
  .menu-holder .navbar-nav li:last-child {
    margin-right: 0;
  }
}

.menu-holder .navbar-nav li .nav-link {
  color: #474747;
  padding: 15px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

@media (min-width: 992px) {
  .menu-holder .navbar-nav li .nav-link {
    padding: 20px 15px;
  }
}

@media (min-width: 1200px) {
  .menu-holder .navbar-nav li .nav-link {
    padding: 20px;
    font-size: 14px;
    line-height: 21px;
  }
}

.menu-holder .navbar-nav li .nav-link:hover {
  background: #EEEEEE;
  color: #00933b;
}

.inner-menu-holder {
  position: relative;
}

.land-record-digitization p {
  font-size: 14px;
  color: #000;
}

.land-record-digitization p a {
  color: #00933b;
  font-size: 14px;
}

.land-record-digitization img {
  width: 100%;
}

.service-delivery-holder .form-group {
  width: 200px;
  float: right;
}

.service-delivery-holder .total-service-delivery li {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 15px 15px 0 15px;
  border-right: 1px solid #DADADA;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .service-delivery-holder .total-service-delivery li {
    width: 32.9%;
  }
}

.service-delivery-holder .total-service-delivery li .item-service-delivery {
  padding-bottom: 15px;
  border-bottom: 1px solid #DADADA;
}

.service-delivery-holder .total-service-delivery li .item-service-delivery span {
  color: #00933b;
  font-size: 32px;
}

.service-delivery-holder .total-service-delivery li .item-service-delivery p {
  color: #DADADA;
  font-size: 14px;
  margin: 0;
}

.customer-visit-holder {
  padding: 0;
  margin-top: 15px;
}

.customer-visit-holder li {
  text-align: center;
  padding: 30px 15px;
}

@media (min-width: 768px) {
  .customer-visit-holder li {
    display: inline-block;
    width: 49%;
  }
}

@media (min-width: 992px) {
  .customer-visit-holder li {
    display: block;
    width: 100%;
  }
}

.customer-visit-holder li.land-transfer {
  background: #00933b;
}

.customer-visit-holder li.stampduty {
  background: #0F624A;
}

.customer-visit-holder li .item-service-delivery span {
  color: #fff;
}

.customer-visit-holder li .item-service-delivery p {
  color: #fff;
}

.customer-visit-holder p {
  margin: 0;
}

.icon-holder {
  min-height: 110px;
  background: #004545;
  margin-bottom: 10px;
}

.view-news li {
  padding: 20px 0 25px 0;
  border-bottom: 1px solid #DADADA;
}

.view-news li time {
  font-size: 13px;
  color: #4F4F4F;
}

.view-news li p {
  font-size: 14px;
  color: #00933b !important;
  margin-bottom: 0;
}

.banner-home {
  position: relative;
}

.banner-home .banner {
  width: 100%;
  background: url("../images/hm-banner.jpg");
  min-height: 385px;
}

.banner-home .banner .banner-detail {
  color: #fff;
  padding-top: 60px;
  position: relative;
}

.banner-home .banner .banner-detail h1 {
  font-size: 55px;
  color: #fff;
}

.banner-home .banner .banner-detail h6 {
  font-size: 27px;
  line-height: 40px;
  font-weight: normal;
}

.banner-menu-holder {
  margin-top: 0;
}

@media (min-width: 768px) {
  .banner-menu-holder {
    position: relative;
    z-index: 1;
    margin-top: -87px;
  }
}

.banner-menu-holder ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.banner-menu-holder ul li {
  color: #004545;
}

.banner-menu-holder ul li a {
  color: #004545;
}

@media (min-width: 768px) {
  .banner-menu-holder ul li a {
    color: #fff;
  }
}

.banner-menu-holder ul li a span {
  color: #004545;
  display: inline-block;
}

@media (min-width: 768px) {
  .banner-menu-holder ul li a span {
    display: block;
    font-size: 30px;
    color: #fff;
  }
}

@media (min-width: 576px) {
  .banner-menu-holder ul li {
    background: #004545;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    border-right: 1px solid #E0E0E0;
  }
  .banner-menu-holder ul li.active {
    background: #00933b;
  }
  .banner-menu-holder ul li:last-child {
    border-right: none;
  }
  .banner-menu-holder ul li a {
    color: #fff;
    font-size: 14px;
    padding: 12px;
    display: block;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
  }
}

@media (max-width: 767.98px) {
  .banner-menu-holder ul li {
    width: 100%;
    display: block;
    border: 1px solid #00933b;
    text-align: left;
    background: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .banner-menu-holder ul li:last-child {
    border-right: 1px solid;
  }
  .banner-menu-holder ul li.active {
    background: none;
  }
  .banner-menu-holder ul li a {
    color: #004545;
  }
}

.public-facilitation-projects .icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.public-facilitation-projects .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

.public-facilitation-projects .card-body .text-holder {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.news-holder img {
  width: 100%;
}

@media (max-width: 767.98px) {
  .tax-calculation-holder {
    width: 357px;
    overflow-x: auto;
    padding-bottom: 20px;
  }
}

.tax-calculation-holder .tax-calculation {
  width: 500px;
  margin: 0 auto;
}

.tax-calculation-holder .tax-calculation tr {
  border: 1px solid #ccc;
}

.tax-calculation-holder .tax-calculation tr td {
  border: 1px solid #ccc;
}

.tax-calculation-holder .tax-calculation tr td:last-child {
  border-right: none;
}

.tax-calculation-holder .tax-calculation tr:last-child, .tax-calculation-holder .tax-calculation tr:nth-last-child(2) {
  background-color: #004545;
  color: #fff;
  font-weight: 500;
}

.tax-calculation-holder .tax-calculation tr:last-child td, .tax-calculation-holder .tax-calculation tr:nth-last-child(2) td {
  border: none;
}

.reg-code-holder {
  padding: 5px;
  width: 500px;
  background-color: #004545;
  margin: 0 auto;
  margin-bottom: 20px;
}

.reg-code-holder input[type=text] {
  width: 100%;
}

.deed_search .search-holder .search-col-1 {
  width: 250px;
}

.deed_search .search-holder .search-col-1 .form-control {
  width: 96%;
}

.deed_search .search-holder .btn.btn-primary {
  border-radius: 3px;
  background-color: #01923F;
  border: 1px solid #01923F;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  height: calc(2.25rem + 2px);
}

.deed_search .deed-table {
  margin: 15px auto;
}

.deed_search .deed-table table thead {
  width: 100%;
}

.deed_search .deed-table table thead th {
  background: #E8E8E8;
  color: #4F4F4F;
  font-size: 12px;
  line-height: 18px;
}

.deed_search .deed-table table td {
  color: #4F4F4F;
  font-size: 12px;
  line-height: 28px;
  padding: 0.2rem 0.75rem;
}

.deed_search .deed-table table a {
  color: #4F4F4F;
  font-size: 12px;
  line-height: 28px;
  text-decoration: none;
}

.deed_search .pagination li {
  width: auto;
  height: 36px;
}

.deed_search .pagination li p {
  margin: 0 10px;
  line-height: 2;
}

.deed_search .pagination li p span {
  color: #004545;
  font-size: 18px;
}

.deed_search .pagination li.active a span {
  color: #01923F;
}

.deed_search .pagination li.page-item .page-link {
  background-color: #F9F9F9;
  -webkit-box-shadow: 0 1px 1px 0 rgba(221, 221, 221, 0.5);
          box-shadow: 0 1px 1px 0 rgba(221, 221, 221, 0.5);
  border: 0.5px solid #BBBBBB;
}

.deed_search .pagination li .page-link {
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(153, 153, 153, 0.5), 0 1px 1px 0 rgba(221, 221, 221, 0.5);
          box-shadow: inset 0 1px 3px 0 rgba(153, 153, 153, 0.5), 0 1px 1px 0 rgba(221, 221, 221, 0.5);
  border-radius: 0;
  border: 1px solid #BBBBBB;
  font-size: 16px;
}

.deed_search .pagination li .page-link.right {
  border-radius: 0 4px 4px 0;
}

.deed_search .pagination li .page-link.left {
  border-radius: 4px 0 0 4px;
}

.deed_search .pagination li a {
  text-align: center;
  width: 36px;
  height: 36px;
}

.deed_search .pagination li a:hover {
  color: #000 !important;
}

.deed_search .pagination li a span {
  color: #4A4A4A;
}

.model-cus .btn.btn-primary {
  background: #01923F;
  border-radius: 3px;
  height: 42px;
  color: #FFFFFF;
  font-size: 15px;
  border: solid 1px #01923F;
  line-height: 28px;
}

.model-cus small {
  color: #858585;
  line-height: 18px;
}

.model-cus p {
  font-size: 14px;
  line-height: 21px;
  color: #4F4F40;
}

.model-cus .form-control {
  font-size: 14px;
  color: #868686;
  font-weight: 300;
}

.model-cus .form-control.greybg {
  background: #E5E5E5;
}

.model-cus .link-cus {
  border-bottom: solid 1px #01923F;
  line-height: 30px;
}

.model-cus .hd-holder {
  margin-bottom: 0;
}

.model-cus .modal-content {
  background-color: #F7F7F7;
}

.model-cus .modal-title {
  text-align: left;
  padding: 10px 0;
}

.model-cus .modal-header {
  border-bottom: none;
  padding-bottom: 0px;
  padding-top: 10px;
}

.model-cus .modal-header .close {
  margin: 0rem -1rem -1rem auto;
  opacity: 0.2;
  font-weight: 300;
  font-size: 36px;
  padding-top: 10px;
}

.greenClr {
  color: #01923F !important;
}

.banner-home.about-page .banner.about-banner {
  width: 100%;
  background: url("../images/about-borb-banner.png");
  min-height: 150px;
}

.banner-home.about-page .banner.about-banner .banner-detail {
  padding-top: 45px;
}

.banner-home.about-page .banner.about-banner .banner-detail h1.heading {
  font-size: 42px;
  font-weight: 500;
}

.about-content p {
  color: #4F4F4F;
  line-height: 18px;
  font-size: 14px;
}

/* News */
.updates-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding-bottom: 50px;
}

.updates-news h6 {
  color: #00933b;
  font-size: 25px;
}

.updates-news a {
  color: #00933b;
  font-size: 14px;
}

.updates-news .calendar {
  background-color: #00933b;
  text-align: center;
  border-radius: 5px;
  width: 80px;
  overflow: hidden;
  padding-bottom: 3px;
}

.updates-news .calendar .news-date {
  margin-bottom: 0;
  color: #fff;
}

.updates-news .calendar .year {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 0;
  color: #fff;
  background-color: #004545;
}

.updates-news .calendar span {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  display: block;
  line-height: 30px;
}

.updates-news .calendar strong {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 0;
}

.updates-news .news-detail {
  padding-left: 15px;
}

.updates-news picture {
  display: block;
}

/* Contact us */
.contact-us ul.content-detail li {
  padding-bottom: 20px;
}

.contact-us ul.content-detail li .phone-no:before {
  color: #004545;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 2px;
}

.contact-us ul.content-detail li .email-address:before {
  color: #004545;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 2px;
}

.contact-us ul.content-detail li .location:before {
  color: #004545;
  font-size: 27px;
  left: 0;
  top: 2px;
  position: absolute;
}

.contact-us ul.content-detail li a {
  color: #000;
  position: relative;
  padding-left: 32px;
}

.contact-us ul.content-detail li p {
  position: relative;
  padding-left: 32px;
}

.contact-us picture {
  display: block;
}

.contact-us picture img {
  width: 100%;
}

.faqs .btn-link {
  font-size: 14px;
  font-weight: 300;
  line-height: 39px;
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 10px 0;
  white-space: normal;
  color: #004545;
}

.faqs .btn-link:focus, .faqs .btn-link.focus, .faqs .btn-link:hover {
  color: inherit;
  text-decoration: none;
}

.faqs .btn-link.collapsed:after {
  content: '\f067';
  color: #004545;
}

.faqs .btn-link.collapsed.show {
  border: 1px solid #000;
}

.faqs .btn-link:after {
  position: absolute;
  right: 0;
  content: "\e912";
  color: #fff;
  font-weight: 100;
  font-size: 16px;
  color: #004545;
}

.faqs .card-header {
  background-color: #FCFCFC;
  border-bottom: none;
  padding: 0 15px;
}

.faqs .card {
  border: none;
  border-top: 1px solid #e6e5e6;
  background: transparent;
  border-radius: 0;
}

.faqs .card:last-child {
  border-bottom: 1px solid #e6e5e6;
}

.faqs .card-body {
  font-size: 14px;
  font-weight: 300;
  line-height: 37px;
  padding: 15px;
  color: black;
  border: 1px solid #e6e5e6;
}

.faqs .banner-detail .input-group-append .btn-primary {
  background-color: #01923F;
  color: #fff;
  border: none;
}

.faqs .banner-detail p {
  font-size: 24px;
  color: #fff;
}

.faqs .btn-link:after {
  content: "\e912";
  font-family: 'icomoon' !important;
  position: absolute;
  right: 0px;
  font-weight: 100;
  font-size: 14px;
  color: #01923F;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faqs .btn-link.collapsed:after {
  position: absolute;
  right: 10px;
  top: 20px;
  content: "\e912";
  font-family: 'icomoon' !important;
  font-weight: 100;
  font-size: 14px;
  color: #01923F;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  height: 100%;
  font-weight: 300;
}

#wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  font-size: 14px;
  line-height: 27px;
  color: #000;
  font-weight: 300;
}

/* Margin*/
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.btn {
  min-width: 100px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active:focus, .btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ced4da;
}

/* header-banner */
/* Comman Css*/
.noresize {
  resize: none;
}

.no-background {
  background-color: transparent !important;
}

.header-banner {
  background-size: cover !important;
  width: 100%;
  padding: 42px 0 17px 0;
  margin-bottom: 20px;
}

.header-banner h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .header-banner h1 {
    font-size: 30px;
    line-height: 46px;
  }
}

.header-banner .breadcrumb {
  background: none;
  border-radius: 0;
  padding-left: 0;
  padding-top: 0;
}

.header-banner .breadcrumb-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

@media (min-width: 768px) {
  .header-banner .breadcrumb-item {
    margin-top: 10px;
  }
}

.header-banner .breadcrumb-item a {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header-banner:first-child:before {
  display: none;
}

.header-banner:before {
  content: "/ ";
  color: gray;
  display: inline-block;
  vertical-align: top;
  margin: -3px 10px 0 5px;
}

.breadcrumb-item.active {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.btn.btn-primary {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
}

.btn.btn-primary:hover {
  /*	background-color: $flush-orange;
			border:1px solid $flush-orange;*/
  color: #fff;
}

.btn.btn-primary.blue-btn {
  background-color: #00B1DC;
  border: 1px solid #00B1DC;
}

.btn.btn-secondary {
  border-radius: 2px;
  /*background-color: $flush-orange;
		border:1px solid $flush-orange;*/
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  padding: 10px 26px;
}

.btn.btn-secondary:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.btn span {
  display: inline-block;
}

.btn i {
  font-style: normal;
}

.active-btn {
  /*background-color: $flush-orange;
	border:1px solid $flush-orange;*/
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.active-btn:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 15px;
  color: #fff;
  content: "/";
}

/* End Comman Css*/
.hd-border {
  border-bottom: 1px dashed #000;
  padding-bottom: 10px;
  margin-bottom: 17px;
  font-size: 16px;
}

.form-holder label {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  text-transform: capitalize;
}

.align-right-center {
  text-align: center;
}

/*fonts*/
h1 {
  font-size: 48px;
  line-height: 61px;
  font-weight: 300;
}

/*h3{
	font-size: 16px;	
	font-weight: 500;	
	line-height: 19px;
	margin-top: 20px;
}
h4 {
	font-size: 18px;	
	font-weight: 500;	
	line-height: 29px;
}*/
h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

a {
  font-size: 16px;
  line-height: 25px;
}

/* Check box*/
.custom-checkbox {
  margin-bottom: 15px;
  margin-left: 15px;
  display: block;
}

.custom-checkbox input[type="checkbox"] {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -999;
}

.custom-checkbox .custom-input {
  width: 25px;
  height: 25px;
  border: 1px solid #ced4da;
  background: #fff;
  float: left;
  margin-right: 10px;
  position: relative;
  border-radius: 2px;
}

.custom-checkbox .custom-input:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 13px;
  left: 1px;
  top: 1px;
  border: 2px solid #000;
  border-top: 0;
  border-left: 0;
  visibility: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 3px 0 0 8px;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-input:after {
  visibility: visible;
}

/* End Check box*/
/* Radio Button */
.radio-button-holder {
  margin: 10px 0;
  clear: both;
  float: left;
  padding: 0;
}

.radio-button-holder li {
  float: left;
  margin-right: 20px;
  width: 100%;
}

.radio-button-holder .custom-radio {
  margin-bottom: 10px;
  margin-left: 0;
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.radio-button-holder .custom-radio input[type="radio"] {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -999;
}

.radio-button-holder .custom-radio .custom-input {
  width: 16px;
  height: 16px;
  border: 1px solid #00B1DC;
  background: #fff;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  position: relative;
  border-radius: 50px;
}

.radio-button-holder .custom-radio .custom-input:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #00B1DC;
  /* height: 13px; */
  left: 1px;
  top: 1px;
  visibility: hidden;
  margin: 1px 0 0 1px;
  border-radius: 50px;
}

.radio-button-holder .custom-radio input[type="radio"]:checked + .custom-input:after {
  visibility: visible;
}

.radio-button-holder i {
  font-style: normal;
}

/* End radio button*/
/* End Comman Css*/
.buttons-holder {
  border-top: 1px solid #979797;
  padding-top: 30px;
  margin-top: 30px;
}

/* Contact Us */
.contact-us form {
  margin-top: 35px;
}

.contact-us .sendto {
  color: #000;
  font-size: 21px;
  font-weight: 300;
  line-height: 31px;
}

.contact-us .sendto a {
  color: #000;
  text-decoration: none;
}

/* End Contact Us */
.radiobtn-tans {
  margin-bottom: 20px;
}

.radiobtn-tans .nav-item:first-child a {
  padding-left: 0;
}

.radiobtn-tans .nav-link {
  color: #000;
  line-height: 10px;
}

.radiobtn-tans .nav-link:hover {
  color: #000;
}

.radiobtn-tans .nav-link .tab-state {
  width: 20px;
  height: 20px;
  background: url("../images/non-active-radio.png") no-repeat;
  background-size: cover;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  color: #000;
}

.radiobtn-tans .nav-link.active {
  background-color: transparent;
}

.radiobtn-tans .nav-link.active .tab-state {
  background: url("../images/active-radio.png") no-repeat;
  background-size: cover;
}

/* Select dropdown*/
.dropdown-sel {
  position: relative;
}

.dropdown-sel .nice-select {
  float: none;
  width: 100%;
}

.dropdown-sel .nice-select .list {
  width: 100%;
}

.dropdown-sel .nice-select .list .option.selected {
  font-weight: normal;
}

.table-holder {
  overflow: auto;
}

@media (min-width: 576px) {
  .table-holder {
    overflow: inherit;
  }
}

.table-holder.full-width-scroll {
  overflow: auto;
}

@media (min-width: 992px) {
  .table-holder.full-width-scroll {
    overflow: inherit;
  }
}

/* form label*/
@media (min-width: 576px) {
  .form-align [class^="col-"], .form-align [class*=" col-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .form-align .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
  }
  .form-align .form-group label {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* active button*/
.btn.active-btn {
  /*background-color: $flush-orange;
		border:1px solid $flush-orange;*/
  color: #fff;
}

.btn.active-btn:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

/* Fixes */
.sw-theme-arrows > ul.step-anchor {
  padding-top: -25px;
  display: inline-block;
}

.sw-theme-arrows > ul.step-anchor > li {
  display: inline-block;
}

#smartwizard .sw-toolbar-top {
  display: none;
}

#smartwizard .btn-toolbar .btn {
  color: #000;
}

#smartwizard .btn-toolbar .btn.btn-primary {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
}

#smartwizard .btn-toolbar .btn.btn-primary:hover, #smartwizard .btn-toolbar .btn.btn-primary:focus, #smartwizard .btn-toolbar .btn.btn-primary:active {
  /*background-color: $flush-orange;
					border:1px solid $flush-orange; */
  color: #000;
}

#smartwizard .btn-toolbar .btn.btn-info, #smartwizard .btn-toolbar .btn.btn-danger {
  display: none;
  color: #fff;
}

#smartwizard .btn-toolbar .btn.btn-info:hover {
  color: #000;
}

#smartwizard .btn-toolbar .btn.btn-secondary {
  border-radius: 2px;
  padding: 5px 25px;
}

#smartwizard .btn-toolbar .btn.btn-secondary.sw-btn-next {
  /*background-color: $flush-orange;
						border:1px solid $flush-orange;*/
  margin-left: 10px;
  color: #fff;
}

#smartwizard .btn-toolbar .btn.btn-secondary.sw-btn-next:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

#smartwizard .btn-toolbar .btn.btn-secondary.sw-btn-prev {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  padding: 8px 25px;
  margin-left: 10px;
}

#smartwizard .btn-toolbar .btn.btn-secondary.sw-btn-prev:hover {
  /*background-color: $flush-orange;
					border:1px solid $flush-orange;*/
  color: #fff;
}

/*pagination*/
.pagination .page-link {
  border: 1px solid lightgray;
  color: black;
  font-weight: 300;
  font-size: 12px;
  padding: 8px;
}

.pagination .page-link:hover {
  /*background: $flush-orange;*/
  color: #fff;
}

/* font awesome hover color change*/
a .fa:hover {
  /*color: $flush-orange;*/
}

.custom-radio {
  position: relative;
  margin: 0;
}

.custom-radio.inactive input:checked + .fake-label {
  background-color: red;
  border: 1px solid red;
}

.custom-radio input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
}

.custom-radio input:checked + .fake-label {
  background-color: #00933b;
  color: #fff;
  border: 1px solid #00933b;
}

.custom-radio .fake-label {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: 4px 15px;
  font-size: 10px;
  line-height: 16px;
}

.no-resize {
  resize: none;
}

.form-control {
  font-size: 12px;
}

textarea {
  font-weight: 300;
  font-size: 14px;
  position: relative;
}

textarea.area-height {
  height: 55px;
  overflow: auto;
}

textarea.area-height-80 {
  height: 70px;
  overflow: auto;
}

.stamp-paper-deed-main .custom-checkbox .custom-label {
  margin-top: 5px;
  display: inline-block;
}

.form-group label {
  font-size: 12px;
  font-weight: 500;
}

.image-captcha img {
  width: 28%;
  display: block;
  height: auto;
  margin: 10px 0;
}

.radiobtn-holder {
  width: 100%;
  clear: both;
}

.radiobtn-holder ul {
  margin: 0;
  padding: 0;
}

.radiobtn-holder ul li {
  list-style: none;
  width: 200px;
  float: left;
}

.radiobtn-holder .custom-radio {
  display: none;
}

.radiobtn-holder .custom-radio + label {
  font-weight: normal;
  cursor: pointer;
}

.radiobtn-holder .custom-radio + label span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  border: 1px solid #007bff;
}

.radiobtn-holder .custom-radio + label span::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #007bff;
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
}

.radiobtn-holder .custom-radio:checked + label span::before {
  display: block;
}

.radiobtn-holder .custom-radio:disabled + label {
  display: block;
}

.radiobtn-holder .custom-radio:disabled + label, .radiobtn-holder .custom-radio:disabled + label span {
  cursor: default;
}

.search-holder {
  background: #004545;
  padding: 10px;
  position: relative;
}

@media (min-width: 992px) {
  .search-holder .form-inline {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.search-holder .search-col-1 {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .search-holder .search-col-1 {
    width: 22%;
    padding: 0 5px;
  }
}

.search-holder .search-col-1 .form-control {
  width: 100%;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .search-holder .search-col-1 .form-control {
    /*width: 210px;*/
  }
}

@media (min-width: 768px) {
  .search-holder .search-col-2 {
    width: 10%;
  }
}

.search-holder .search-col-text {
  width: 100%;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .search-holder .search-col-text {
    width: 144px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

.search-holder p {
  font-size: 11px;
  color: #fff;
  margin-bottom: 0;
  line-height: 0;
  display: inline-block;
}

@media (min-width: 768px) {
  .search-holder p {
    display: block;
    padding-top: 8px;
  }
}

.search-holder span {
  font-size: 13px;
  color: #fff;
}

@media (min-width: 768px) {
  .search-holder span {
    font-size: 18px;
  }
}

.search-holder .search-fields {
  width: 100%;
}

@media (min-width: 768px) {
  .search-holder .search-fields {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media (max-width: 991.98px) {
  .search-holder .display-none {
    display: none;
  }
}

.hd-holder {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hd-holder h6 {
  font-size: 28px;
  line-height: 42px;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hd-holder .bd-line {
  position: absolute;
  width: 100px;
  border-bottom: 5px solid #000;
  bottom: -2px;
  left: 0;
}

.bg-holder {
  background: #FCFCFC;
  padding: 25px;
  margin-bottom: 10px;
}

.read-more {
  color: #00933b;
  font-size: 14px;
}

/*#main {
	&.innerpage{
		margin-top: 15px;
	}
}*/
.basic-detail-holder p {
  font-size: 14px;
  border: 1px solid #DADADA;
  border-radius: 5px;
}

.basic-detail-holder p span {
  width: 160px;
  background-color: #DEDEDE;
  display: inline-block;
  padding-left: 5px;
}

.profile-detail-holder .profile-pic {
  max-width: 160px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile-detail-holder .profile-deail {
  display: inline-block;
  max-width: 184px;
}

.profile-detail-holder .profile-deail li {
  padding-bottom: 10px;
}

.profile-detail-holder .profile-deail li span {
  font-weight: 500;
}

.profile-detail-holder .profile-deail li p {
  margin: 0;
}

.upload-files {
  background: #DBDBDB;
  padding: 20px;
}

.upload-files .upload-file summary {
  color: #00933b;
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid;
}

/* calculator*/
.calculator-holder {
  width: 500px;
  margin: 0 auto;
}

.calculator-holder .calculator-value {
  padding-bottom: 10px;
  background-color: #F00;
}

ul.content-detail li {
  padding-bottom: 10px;
}

ul.content-detail li .phone-no:before {
  content: "\e90a";
  color: #fff;
  font-family: icomoon;
  display: inline-block;
  padding-right: 15px;
}

ul.content-detail li .email-address:before {
  content: "\e90b";
  color: #fff;
  font-family: icomoon;
  display: inline-block;
  padding-right: 10px;
}

ul.content-detail li .location:before {
  content: "\e911";
  color: #fff;
  font-family: icomoon;
  display: inline-block;
  padding-right: 10px;
}

ul.content-detail .faqs .btn-link {
  font-size: 14px;
  font-weight: 300;
  line-height: 39px;
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 10px 0;
  white-space: normal;
  color: #004545;
}

ul.content-detail .faqs .btn-link:focus, ul.content-detail .faqs .btn-link.focus, ul.content-detail .faqs .btn-link:hover {
  color: inherit;
  text-decoration: none;
}

ul.content-detail .faqs .btn-link.collapsed:after {
  content: '\f067';
  color: #004545;
}

ul.content-detail .faqs .btn-link.collapsed.show {
  border: 1px solid #000;
}

ul.content-detail .faqs .btn-link:after {
  position: absolute;
  right: 0;
  content: "\e912";
  color: #fff;
  font-weight: 100;
  font-size: 16px;
  color: #004545;
}

ul.content-detail .faqs .card-header {
  background-color: #FCFCFC;
  border-bottom: none;
  padding: 0 15px;
}

ul.content-detail .faqs .card {
  border: none;
  border-top: 1px solid #e6e5e6;
  background: transparent;
  border-radius: 0;
}

ul.content-detail .faqs .card:last-child {
  border-bottom: 1px solid #e6e5e6;
}

ul.content-detail .faqs .card-body {
  font-size: 14px;
  font-weight: 300;
  line-height: 37px;
  padding: 15px;
  color: black;
  border: 1px solid #e6e5e6;
}
/*# sourceMappingURL=main - Copy.css.map */