<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>

    <!--Markaz-E-Sahulat API's-->
    <!--<add key="apiUrlMS" value="http:// localhost:52191/api/getjson/"/>-->
    <add key="apiUrlMS" value="http://10.100.101.107:8083/api/Challan/ServiceDeliveredStats?searchType=1"/>
    <add key="apiSecurityMS" value="Authorization"/>
    <add key="apiKeyMS" value="Peajpzjc5ycus2GF6AQGd93D3YlAYqXGo2PLdpybFtpUYQvc6oWTArRz72ejoKCE/Zg+XZ3+linlV2rwkfmyKg=="/>

    <!--e-Stamping API's-->
    <!--<add key="apiUrlES" value="http:// localhost:52191/api/getjson1/"/>-->
    <add key="apiUrlES" value="http://10.100.101.107:8084/api/ChallanDetails/Amount?"/>
    <add key="apiSecurityES" value="Authorization"/>
    <add key="apiKeyES" value="jBjM0xR9xLvH3Ohgr07BSg=="/>

    <!--Insert District API's-->
    <add key="apiUrlID" value="http://10.100.101.107:8083/api/Challan/GetDistrictByDate?"/>
    <add key="apiSecurityID" value="Authorization"/>
    <add key="apiKeyID" value="Peajpzjc5ycus2GF6AQGd93D3YlAYqXGo2PLdpybFtpUYQvc6oWTArRz72ejoKCE/Zg+XZ3+linlV2rwkfmyKg=="/>

    <!--<add key="apiUrl" value="http:// localhost:52191/api/getjson/"/>-->
    <!--<add key="apiUrl" value="http:// 10.100.101.107:8084/api/ChallanDetails/Amount?fromDate=01-08-2019&toDate=10-08-2019"/>-->

  </appSettings>

  <!--Deployment Database-->
  <!--<connectionStrings configSource="Config\DeploymentConnectionString.config"/>-->
  <!--Dev Database-->
  <connectionStrings configSource="Config\DevConnectionString.config"/>
  <!--Local Database-->
  <!--<connectionStrings configSource="Config\LocalConnectionString.config"/>-->
  <!--QA Database-->
  <!--<connectionStrings configSource="Config\QaConnectionString.config"/>-->

</configuration>


