@page  "/TestHome"
@{
    ViewData["Title"] = "Home";
}

<div id="main">
    <div class="banner-home">
        <div class="banner">
            <div class="container">
                <div class="banner-detail">
                    <h1>
                        Balochistan <br /> Board of Revenue
                    </h1>
                    <h6>Modernization - transparency - Facilitation</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-search-main">
        <div class="banner-menu-holder">
            <div class="container">
                <ul>
                    <li class="active">
                        <a href="">
                            <span class="icon-property-register-icon"></span>
                            Property Register
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-tax-calculator-icon"></span>
                            Tax Calculator
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-fee-schedules-icon"></span>
                            Fee Schedules
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-digitize-map-icon"></span>
                            Digitize Map
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon-complaint-icon"></span>
                            Complaint
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="search-holder-mian mt10">
            <div class="container">
                <div class="search-holder">
                    <form class="form-inline">
                        <div class="search-col-text">
                            <div class="search-text">
                                <p> Digital Registration Deed </p>
                                <span> Search </span>
                            </div>
                        </div>
                        <div class="search-fields">
                            <div class="search-col-1">
                                <div class="form-group">

                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Lahore</option>
                                        <option>Islamabad</option>
                                        <option>Jhang</option>
                                        <option>FSD</option>
                                        <option> sargodha</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-col-1">
                                <div class="form-group">

                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Lahore</option>
                                        <option>Islamabad</option>
                                        <option>Jhang</option>
                                        <option>FSD</option>
                                        <option> sargodha</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-col-1">
                                <div class="form-group">

                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Lahore</option>
                                        <option>Islamabad</option>
                                        <option>Jhang</option>
                                        <option>FSD</option>
                                        <option> sargodha</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-col-1">
                                <div class="form-group">
                                    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                                </div>
                            </div>
                            <div class="search-col-2">
                                <button type="submit" class="btn btn-primary"> <i class="fa fa-search visible-xs"></i><span class="btn-search-text visible-md">Searh</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-holder">

        <section class="land-record-digitization mt20">
            <div class="container">

                <div class="hd-holder">
                    <h6>Land Record Digitization</h6>
                    <span class="bd-line"></span>
                </div>
                <p>Government of the Balochistan started computerization of Land Records with overall objectives to improve service delivery. <a href=""> Read More </a></p>

                <div class="map-tiles">
                    <div id="container3"></div>
                    <h6 class="bt-hd"> Digitization Progess </h6>
                    <h6 class="horizontah-hd"> Districts</h6>
                </div>

            </div>
        </section>
    </div>
    <section class="service-delivery-holder mt20">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="hd-holder">
                        <h6>Service Delivery</h6>

                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Lahore</option>
                                <option>Islamabad</option>
                                <option>Jhang</option>
                                <option>FSD</option>
                                <option> sargodha</option>
                            </select>
                        </div>
                    </div>
                    <ul class="total-service-delivery">
                        <li>
                            <div class="item-service-delivery">
                                <span>8,124</span>
                                <p>Total customer Visit</p>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-delivery">
                                <span>8,124</span>
                                <p>Total Land Transfer</p>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-delivery">
                                <span>8,124</span>
                                <p>Total Stamp Paper Issued</p>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-delivery">
                                <span>8,124</span>
                                <p>Total Registries Recorded</p>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-delivery">
                                <span>8,124</span>
                                <p>Reported Grievance</p>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-delivery">
                                <span>8,124</span>
                                <p>Resolved Grievance</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="hd-holder">
                        <h6>Revenue Stream</h6>
                        <span class="bd-line"></span>
                    </div>
                    <ul class="customer-visit-holder">
                        <li class="land-transfer">
                            <div class="item-service-delivery">
                                <span>8,124 <sub> PAK</sub> </span>
                                <p>Total customer Visit</p>
                            </div>
                        </li>
                        <li class="stampduty">
                            <div class="item-service-delivery">
                                <span>8,124</span>
                                <p>Total customer Visit</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="bg-holder">
        <section class="public-facilitation-projects">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hd-holder">
                            <h6>Public Facilitation Projects</h6>
                            <span class="bd-line"></span>
                        </div>
                    </div>
                    <!--ko foreach: publicFacilitationProjects-->
                    <div class="col-lg-3 col-md-6 col-12 text-center d-flex flex-column">
                        <div class="facilitation-holder d-flex flex-column flex-grow-1">
                            <div class="icon-holder">
                                <span data-bind="class: ContentPageIcon"></span>
                            </div>
                            <div class="card-body">
                                <h5 data-bind="text: ContentPageName"></h5>
                                <p data-bind="text: ContentDescription, attr: { id: ('textContent' + $index()) }"></p>
                            </div>
                            <a class="read-more" data-bind="attr: { href: ContentPageUrl }"> Read More  </a>
                        </div>
                    </div>
                    <!--/ko-->
                </div>
            </div>

        </section>
    </div>
    <section class="news-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 ">
                    <div class="hd-holder">
                        <h6>Find Facilitation Center</h6>
                        <span class="bd-line"></span>
                    </div>
                    <div class="mapouter">
                        <div id="gmap" class="gmap_canvas">
                            <iframe width="460" height="340" id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 360px;
                                width: 460px;
                            }

                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 340px;
                                width: 460px;
                            }
                        </style>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="hd-holder">
                        <h6>News</h6>
                        <a href="news" class="read-more float-right"> view All</a>
                        <span class="bd-line"></span>
                    </div>
                    <ul class="view-news" data-bind="foreach: news">
                        <li>
                            <time data-bind="text: moment(NewsDate).format('DD MMM YYYY')"></time>
                            <a data-bind="text: NewsDescription, attr: { href: ('NewsDetail?Id=' + NewsId) }"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts {

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script>

        $(document).ready(function () {

            $lib.bindUI(viewModel);
            $lib.setPageTitle("Dashboard");

            var iframe = document.getElementById("gmap_canvas");
            iframe.src = 'https://maps.google.com/maps?q=Systems%20limited&t=&z=13&ie=UTF8&iwloc=&output=embed';

            getPublicFacilitationProjects();
            getTopNews();
        });

        var viewModel = {

            publicFacilitationProjects: ko.observableArray(null),
            news: ko.observableArray(null)
        }

        function getPublicFacilitationProjects() {

            $lib.http.get("/content/dashboard", (err, res) => {

                if (err)
                    return;
                if (res) {
                    for (var i = 0; i < res.length; i++) {

                        var html = res[i].ContentDescription;
                        var text = $util.getPlainText(html);
                        res[i].ContentDescription = text.length > 170 ? (text.substring(0, 167) + "...") : text;
                    }
                    viewModel.publicFacilitationProjects(res);
                }
            });
        }

        function getTopNews() {

            $lib.http.get("/news/topnews", (err, res) => {

                if (err)
                    return;
                for (var i = 0; i < res.length; i++) {

                    var html = res[i].NewsDescription;
                    var text = $util.getPlainText(html);
                    res[i].NewsDescription = text.length > 80 ? (text.substring(0, 77) + "...") : text;
                }
                viewModel.news(res);
            });
        }

        Highcharts.chart('container3', {
            chart: {
                type: 'bar'
            },
            title: {
                text: '',
                //color: "#4c7c7c",
            },
            xAxis: {
                categories: ['Quetta', 'Gwadar', 'Jaffer Abbad ', 'Pishin']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [
                {
                    name: "",
                    color: "#4c7c7c",
                    data: [{ y: 10.57 }, { y: 4. }, { y: 1.92 }, { y: 7.62 }]
                }
            ]
        });
    </script>
}

