<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="binanceApiKey" value="laUY2nCE1LfjkqEemjdHzxPre09NoA1FfCfszbDC6fDd6QMoA87bEEEidiWb11UN" />
		<add key="biancneAPISecret" value="7OYzJUEuJwEZIyZGLZfA8XVt4I1GYBTuTSWBLhjMEY6b9rA4GpTURd4kFLRWrABm" />
	</appSettings>
</configuration>