
.banner-home {
  &.about-page {
    .banner {
      &.about-banner {
        width: 100%;
        background: url("../images/about-borb-banner.png");
        min-height: 150px;
        .banner-detail {
          padding-top: 45px;
          h1 {
            &.heading {
              font-size: 42px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
.about-content {
  p {
    color: #4F4F4F;
    line-height: 18px;
    font-size: 14px;
  }
}