.land-record-digitization{
	p{
		font-size: 14px;
		color: $black;
		a{
			color: $fun-green;
			font-size: 14px;
		}
	}
	img{
		width: 100%;
	}
}
.service-delivery-holder{
	.form-group{
		width: 200px;
    float: right;
	}
	.total-service-delivery{ 

		li{
			 width: 100%;
			  @include media-breakpoint-up(md) {
			 		width: 32.9%;
				}
					display: inline-block;
					text-align: center;
					padding: 15px 15px 0 15px;
					border-right: 1px solid $alto3;
					margin-bottom: 15px;

				.item-service-delivery{
					padding-bottom: 15px; 
					border-bottom: 1px solid $alto3;
						span{
						color: $fun-green;
						font-size: 32px;
					}
					p{
						color: $alto3;
						font-size: 14px;
						margin: 0;
					}
			}
			
		}
	}
}
.customer-visit-holder{
	padding: 0;
	margin-top: 15px;
	li{

		@include media-breakpoint-up(md) { 
				display: inline-block;
				width: 49%;
	 }
	 @include media-breakpoint-up(lg) { 
				display: block;
				width: 100%;
	 }
		text-align: center;
		padding: 30px 15px;
	&.land-transfer{
		background: $fun-green;
	}
	&.stampduty{
		background: $Jewel;
	}
		.item-service-delivery{
			span{
				color: $white;
			}
			p{ color: $white; }
		}
	}
	p{
		margin: 0;
	}
}
.icon-holder{
	min-height: 110px;
	background: $cyprus;
	margin-bottom: 10px;
}
.view-news{
	li{

			padding: 20px 0 25px 0;
			border-bottom: 1px solid $alto3;

	time{
		font-size: 13px;
		color: $emperor;
	}
	p{
		font-size: 14px;
		color: $fun-green !important;
		margin-bottom: 0;
	}
}
}
.banner-home{
	position: relative;

  .banner{
     width: 100%;
     background: url("../images/hm-banner.jpg");
     min-height: 385px;
     .banner-detail{
     	color: $white;
     	padding-top: 60px;
     	position: relative;
     	h1{
     		font-size: 55px;
     		color: $white;
     	}
     	h6{
     		 font-size: 27px;
     		 line-height: 40px;
     		 font-weight: normal;
     	}
     }
     
  }
}
.banner-menu-holder{
	margin-top: 0;
	@include media-breakpoint-up(md) {
		position: relative;
		z-index: 1;
		margin-top: -87px;
		 }
	
		ul{
				padding: 0;
     		margin: 0;
		    display: flex;
		    flex-flow: row wrap;
     	li{
     		color: $cyprus; 
     		a{
     			color: $cyprus;
     			@include media-breakpoint-up(md) {
     					color: $white;
     				}
     			span{
     				color: $cyprus ; 
     				display: inline-block;
     				@include media-breakpoint-up(md) {
     					display: block;
			    		font-size: 30px;
			    		color: $white;
     				}
     			}
     		}
     		@include media-breakpoint-up(sm) {
     			background: $cyprus;
     			flex-grow: 1;
     			text-align: center;
     			border-right: 1px solid $alto;
     			 &.active{
     				background: $fun-green;
     			}
     				&:last-child{
     				border-right: none;
     			}
     			a{
     			color: $white;
     			font-size: 14px;
			    padding: 12px;
			    display: block;
			    width: 100%;
			    height: 100%;
			    text-transform: capitalize;
			   
					}
     		}
     		@include media-breakpoint-down(sm) {
     		width: 100%;
     		display: block;
     		border: 1px solid $fun-green;
     		text-align: left;
     		background: none;
     		border-radius: 5px;
     		margin-bottom: 20px;
     		&:last-child{
     			border-right: 1px solid;
     		}
     		 &.active{
     		 	background: none;

     		 }
     		 a{
     		 	color: #004545;

     		 }
     		}	
     	}
     }
}
.public-facilitation-projects{
	.icon-holder{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
	}
	.card-body{
		 display: -webkit-box;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-orient: vertical;
		  -webkit-box-direction: normal;
		      -ms-flex-direction: column;
		          flex-direction: column;
		  text-align: center;
		  padding: 0;
		  .text-holder {
  		-webkit-box-flex: 1;
      	-ms-flex-positive: 1;
          		flex-grow: 1;
		}
	}
}
.news-holder{
	img{
		width: 100%;
	}
}