@page "/category"

@{
    ViewData["Title"] = "Category Management";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="table-box">
    <div class="hd-holder">
        <h6>Category Management</h6>
        <span class="bd-line"></span>
    </div>
    <div class="row">
        <div class="col-md-3 left-sec">
            <div class="add-user">
                <a class="customBtn mgb20 mgt10" data-toggle="modal" data-target="#categoryFormModal" data-backdrop="static" data-keyboard="false">Add Category</a>
            </div>
        </div>
    </div>

    <div class="modal fade popup" id="categoryDetailModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="hd-holder  modal-title">
                        <h6>Category Detail</h6>
                        <span class="bd-line"></span>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="login custom-form form-detail">
                    <div class="row justify-content-center align-items-center">
                        <div class="login-cnt-holder">
                            <div class="login-container">
                                <form>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <p><span data-bind="text: categoryDetails.CategoryName"></span><strong>Category</strong></p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <p><span data-bind="text: categoryDetails.CategoryDescription"></span><strong>Detail</strong></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <p><span data-bind="text: categoryDetails.Status" class="detail-user-status"></span><strong>Status</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="login-button">
                                        <button type="button" class="customBtn" data-dismiss="modal" data-target="#categoryDetailModal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-status">
        <div class="row">
            <div class="col-sm-10">
                <p>Total Record(s): <b data-bind="text: listModel.totalRecordsCount"></b></p>
            </div>
            <div class="col-sm-2">
                <div class="custom-dropdown">
                    <select class="form-control" id="ddlStatusFilter" data-bind="options: active,
                                                                                optionsText: 'Text',
                                                                                optionsValue: 'Value',
                                                                                value: listModel.selectedStatus,
                                                                                optionsCaption: 'All Status',
                                                                                event: { change: viewModel.onStatusFilterChange }"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="table-area">
        <table class="table table-bordered text-left">
            <thead class="thead-light">
                <tr>
                    <th style="cursor: pointer" data-bind="click: viewModel.onSort.bind($data, 'CategoryName')" class="sorting" width="20%">
                        Category Name
                        <span class="sort-icons">
                            <i class="fa fa-fw fa-caret-up a1" data-bind="click: viewModel.onSort.bind($data, 'CategoryName', true)"></i>
                            <i class="fa fa-fw fa-caret-down a2" data-bind="click: viewModel.onSort.bind($data, 'CategoryName', false)"></i>
                        </span>
                    </th>
                    <th style="cursor: pointer" data-bind="click: viewModel.onSort.bind($data, 'CategoryName')" class="sorting" width="50%">
                        Category Detail
                        <span class="sort-icons">
                            <i class="fa fa-fw fa-caret-up a1" data-bind="click: viewModel.onSort.bind($data, 'CategoryName', true)"></i>
                            <i class="fa fa-fw fa-caret-down a2" data-bind="click: viewModel.onSort.bind($data, 'CategoryName', false)"></i>
                        </span>
                    </th>
                    <th style="cursor: pointer" data-bind="click: viewModel.onSort.bind($data, 'Active')" class="sorting">
                        Status
                        <span class="sort-icons">
                            <i class="fa fa-fw fa-caret-up a1" data-bind="click: viewModel.onSort.bind($data, 'Active', true)"></i>
                            <i class="fa fa-fw fa-caret-down a2" data-bind="click: viewModel.onSort.bind($data, 'Active', false)"></i>
                        </span>
                    </th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: listModel.list">
                <tr>
                    <td>
                        <a href="#" class="green" data-bind="text: CategoryName, click: $root.onEdit.bind($data, true), disable: $root.isRequestInProcess()"></a>
                    </td>
                    <td data-bind="text: $data.CategoryDescription ? $data.CategoryDescription : ''"></td>
                    <td class="text-center" data-bind="class: Active ? 'active-st' : 'inactive-st'">
                        <a href="#" data-bind="click: !$root.isRequestInProcess() ? $root.onStatusChange.bind($data, $index()) : ''">
                            <span data-bind="text: (Active ? 'Active' : 'Inactive'), class: !Active ? 'inactive-st' : 'green'">
                            </span>
                        </a>
                    </td>
                    <td class="text-center action-items">
                        <span class="icon-edit-icon icon" title="Edit" data-bind="click: $root.onEdit.bind($data, false), disable: $root.isRequestInProcess()"></span>
                    </td>
                </tr>
            </tbody>
            <tbody data-bind="if: listModel.list().length <= 0">
                <tr>
                    <td colspan="3" align="center">
                        <span>No Records Found.</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm-12">
            <div class="row">
                <ul class="pagination col-sm-6">
                    <li class="page-item" data-bind="class: getPreviousButtonClass">
                        <a class="page-link left" href="#" data-bind="click: viewModel.onPrevious"><span class="fa fa-caret-left"></span></a>
                    </li>
                    <li>
                        <input type="text" class="page-link form-control" data-bind="integerInput, propertyName: 'totalPagesCount', value: viewModel.listModel.currentPageNo, event: { change: viewModel.onPageChange }" />
                    </li>
                    <li><p>of <span data-bind="text: viewModel.listModel.totalPagesCount"></span></p></li>
                    <li class="page-item" data-bind="class: getNextButtonClass">
                        <a class="page-link right" href="#" data-bind="click: viewModel.onNext"><span class="fa fa-caret-right"></span></a>
                    </li>
                </ul>
                <div class="records-field col-sm-6 text-right">
                    <label>
                        Records per page
                    </label>
                    <div class="custom-dropdown cus-sel">
                        <select class="form-control" id="ddlRecordsPerPage" data-bind="options: listModel.recordsPerPageList,
                                                                                optionsText: 'Text',
                                                                                optionsValue: 'Value',
                                                                                value: listModel.selectedPageSize"></select>
                    </div>
                </div>
            </div>
        </div>


        @*<ul class="pagination">
                <li class="page-item"><a class="page-link left" href="#" data-bind="click: viewModel.onPrevious"><span class="fa fa-caret-left"></span></a></li>
                <li>
                    <input type="text" class="page-link form-control" data-bind="integerInput, value: viewModel.listModel.currentPageNo, event: { change: viewModel.onPageChange }" />
                </li>
                <li><p>of <span data-bind="text: viewModel.listModel.totalPagesCount"></span></p></li>
                <li class="page-item active"><a class="page-link right" href="#" data-bind="click: viewModel.onNext"><span class="fa fa-caret-right"></span></a></li>
            </ul>*@
    </div>
    <div class="modal fade popup" id="categoryFormModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="hd-holder  modal-title">
                        <h6 data-bind="text: formHeading"></h6>
                        <span class="bd-line"></span>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="login custom-form">
                    <div class="row justify-content-center align-items-center">
                        <div class="login-cnt-holder">

                            <div class="login-container">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" data-bind="class: addFocus" id="categoryName">
                                                <label for="CategoryName">Enter Category Name (eg. E-Stamp, ROD, Sahooliat Markaz)</label>
                                                <input type="text" class="form-control pretty-input" id="CategoryName" data-bind="value: formModel.CategoryName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ddlActive"></label>
                                                <select class="form-control" id="ddlActive"
                                                        data-bind="options: active,
                                                                                optionsText: 'Text',
                                                                                optionsValue: 'Value',
                                                                                value: formModel.Active,
                                                                                optionsCaption: 'Select Status'"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" data-bind="class: addFocus">
                                                <textarea class="form-control pretty-input" rows="6" id="CategoryDetail" style="resize: none"
                                                          placeholder="Enter Category Detail" data-bind="value: formModel.CategoryDescription"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="login-button">
                                        <button type="submit" class="customBtn" data-bind="text: saveButtonText, click: onFormSubmit, disable: isRequestInProcess()"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            viewModel.formModel.errors = ko.validation.group(viewModel.formModel);
            $lib.bindUI(viewModel);
            $lib.setPageTitle("Category Management");

            viewModel.formModel.errors.showAllMessages(false);
            viewModel.listModel.currentPageNo(1);

            fillRecordsPerPage();
            fillStatus();
            viewModel.listModel.selectedStatus(1);
            getCategoryList();
            pageSize_Change();
        });

        var viewModel = {

            formModel: {
                CategoryId: ko.observable(null),
                CategoryName: ko.observable("").extend({ required: true, maxLength: 50 }),
                CategoryDescription: ko.observable("").extend({ maxLength: 500 }),
                Active: ko.observable("").extend({ required: true }),
                errors: null
            },
            listModel: {
                list: ko.observableArray(null),
                totalPagesCount: ko.observable(0),
                currentPageNo: ko.observable(0),
                orderBy: ko.observable("CreatedDate"),
                isAscendingOrder: ko.observable(false),
                totalRecordsCount: ko.observable(0),
                recordsPerPageList: ko.observableArray([]),
                selectedStatus: ko.observable(null),
                selectedPageSize: ko.observable(10)
            },
            categoryDetails: {
                CategoryName: ko.observable(""),
                CategoryDescription: ko.observable(""),
                Status: ko.observable("")
            },
            isRequestInProcess: ko.observable(false),
            formHeading: ko.observable("Add Category"),
            addFocus: ko.pureComputed(function () {

                var categoryId = this.viewModel.formModel.CategoryId();
                if (categoryId && !isNaN(parseInt(categoryId)) && parseInt(categoryId) > 0)
                    return "focused";
                else {
                    $("#categoryName").removeClass("focused");
                    return "";
                }
            }),
            getPreviousButtonClass: ko.pureComputed(function () {

                var currentPageNumber = parseInt(this.viewModel.listModel.currentPageNo());
                return (currentPageNumber <= 1) ? '' : 'active';
            }),
            getNextButtonClass: ko.pureComputed(function () {

                var currentPageNumber = parseInt(this.viewModel.listModel.currentPageNo());
                var totalPagesCount = parseInt(this.viewModel.listModel.totalPagesCount());
                return (currentPageNumber < totalPagesCount) ? 'active' : '';
            }),
            saveButtonText: ko.observable("Add"),
            active: ko.observableArray([]),
            onFormSubmit: onSubmit,
            onEdit: getCategoryDetails,
            onShowDetails: getCategoryDetails,
            onPageChange: getCategoryList,
            onPrevious: onPrevious,
            onNext: onNext,
            onSort: onSort,
            onStatusChange: onStatusChange,
            onStatusFilterChange: getCategoryList
        }

        $('#categoryFormModal').on('hidden.bs.modal', function () {

            viewModel.saveButtonText("Add");
            viewModel.formHeading("Add Category");
            resetForm();
        });

        var selectListModel = function (value, text) {
            this.Text = text;
            this.Value = value;
        }

        function getCategoryList() {

            if (!isNaN(parseInt(viewModel.listModel.currentPageNo())) && parseInt(viewModel.listModel.currentPageNo()) > 0) {

                var queryParams = {
                    PageIndex: parseInt(viewModel.listModel.currentPageNo()) - 1,
                    OrderBy: viewModel.listModel.orderBy(),
                    SortDirection: viewModel.listModel.isAscendingOrder() ? "Ascending" : "Descending",
                    Status: viewModel.listModel.selectedStatus() == null || viewModel.listModel.selectedStatus() == undefined ? "" :
                        (viewModel.listModel.selectedStatus() == 1 ? true : false),
                    PageIndex: parseInt(viewModel.listModel.currentPageNo()) - 1,
                    OrderBy: viewModel.listModel.orderBy(),
                    PageSize: viewModel.listModel.selectedPageSize()
                };

                var parameters = "filter:Active=" + queryParams.Status + ";orderby:" + queryParams.OrderBy + "=" + queryParams.SortDirection + ";size:" + queryParams.PageSize +
                    ";index:" + queryParams.PageIndex;

                $lib.showSpinner(true);
                $lib.http.get("/category?param=" + parameters, fillCategoryList);
            }
            else {
                $toastMessages.showError("Invalid Page Number");
            }
        }

        function onPrevious() {

            var currentPageNo = parseInt(viewModel.listModel.currentPageNo());
            if (currentPageNo > 1) {
                viewModel.listModel.currentPageNo(--currentPageNo);
                getCategoryList();
            }
        }

        function onNext() {

            var currentPageNo = parseInt(viewModel.listModel.currentPageNo());
            var totalPageCount = parseInt(viewModel.listModel.totalPagesCount());
            if (currentPageNo < totalPageCount) {
                viewModel.listModel.currentPageNo(++currentPageNo);
                getCategoryList();
            }
        }

        function onSort(orderBy) {

            var previousOrderBy = viewModel.listModel.orderBy();
            var previousDirection = viewModel.listModel.isAscendingOrder();

            if (previousOrderBy.toLowerCase() != orderBy.toLowerCase()) {

                viewModel.listModel.isAscendingOrder(true);
                viewModel.listModel.orderBy(orderBy);
            }
            else
                viewModel.listModel.isAscendingOrder(!previousDirection);
            getCategoryList();
        }

        function fillStatus() {

            viewModel.active([
                new selectListModel(1, "Active"),
                new selectListModel(0, "Inactive")
            ]);
        }

        function fillRecordsPerPage() {

            viewModel.listModel.recordsPerPageList([
                new selectListModel(10, "10"),
                new selectListModel(20, "20")
            ]);
        }

        function pageSize_Change() {

            viewModel.listModel.selectedPageSize.subscribe(function () {
                viewModel.listModel.currentPageNo(1);
                getCategoryList();
            });
        }

        function onStatusChange(index) {

            this.rowIndex = index;
            viewModel.isRequestInProcess(true);
            $lib.showSpinner(true);
            $lib.http.get(`/category/${this.CategoryId}/ChangeStatus`, afterStatusChanged.bind(this));
        }

        function afterStatusChanged(err) {

            $lib.showSpinner(false);
            if (err)
                return
            else {
                var items = JSON.parse(JSON.stringify(viewModel.listModel.list()));
                items[this.rowIndex].Active = !this.Active;
                viewModel.listModel.list(items);
            }
            viewModel.isRequestInProcess(false);
        }

        function fillCategoryList(err, res) {

            $lib.showSpinner(false);
            if (err)
                return;
            else {
                viewModel.listModel.list(res.Records);
                viewModel.listModel.totalPagesCount(res.TotalPages);
                viewModel.listModel.totalRecordsCount(res.TotalRecords);
            }
        }

        function onSubmit() {

            if (viewModel.formModel.errors().length == 0) {

                var categoryId = viewModel.formModel.CategoryId();
                viewModel.isRequestInProcess(true);
                $lib.showSpinner(true);
                if (categoryId && !isNaN(parseInt(categoryId)) && parseInt(categoryId) > 0) {

                    $lib.http.put("/category/" + categoryId, viewModel.formModel, (err, res) => afterCategorySaved(err, res, true));
                }
                else
                    $lib.http.post("/category/", viewModel.formModel, (err, res) => afterCategorySaved(err, res, false));

            } else {
                viewModel.formModel.errors.showAllMessages();
            }
        }

        function afterCategorySaved(err, res, onEdit) {

            if (err)
                return;
            else {
                if (!onEdit) {
                    viewModel.listModel.isAscendingOrder(false);
                    $toastMessages.showSuccess("Category is created successfully");
                }
                else
                    $toastMessages.showSuccess("Category information is updated successfully");
                resetForm();
                $("#categoryFormModal").modal("hide");
                getCategoryList();
            }
            $lib.showSpinner(false);
            viewModel.isRequestInProcess(false);
        }

        function getCategoryDetails(showDetails) {

            $lib.showSpinner(true);
            viewModel.isRequestInProcess(true);
            if (showDetails)
                $lib.http.get("/category/" + this.CategoryId, showCategoryDetails);
            else
                $lib.http.get("/category/" + this.CategoryId, fillCategoryForm);
        }

        function showCategoryDetails(err, res) {

            $lib.showSpinner(false);
            viewModel.isRequestInProcess(false);
            if (err)
                return
            else {
                viewModel.categoryDetails.CategoryName(res.CategoryName);
                viewModel.categoryDetails.CategoryDescription(res.CategoryDescription);
                viewModel.categoryDetails.Status(res.Active ? 'Active' : 'Inactive');
                $("#categoryDetailModal").modal("show", { backdrop: 'static', keyboard: false });
            }
        }

        function fillCategoryForm(err, res) {

            $lib.showSpinner(false);
            viewModel.isRequestInProcess(false);
            if (err)
                return;
            else {

                viewModel.formModel.CategoryId(res.CategoryId);
                viewModel.formModel.CategoryName(res.CategoryName);
                viewModel.formModel.CategoryDescription(res.CategoryDescription);
                viewModel.formModel.Active(res.Active);
                viewModel.formHeading("Edit Category");
                viewModel.saveButtonText("Save");
                $("#categoryFormModal").modal("show", { backdrop: 'static', keyboard: false });
            }
        }

        function resetForm() {

            viewModel.formModel.CategoryId("");
            viewModel.formModel.CategoryId(null);
            viewModel.formModel.CategoryName("");
            viewModel.formModel.CategoryDescription("");
            viewModel.formModel.Active("");
            viewModel.formModel.errors.showAllMessages(false);

            viewModel.listModel.currentPageNo(1);
            viewModel.listModel.orderBy("CreatedDate");
        }

    </script>
}


