 
$breakpoints: (
	'xs-phone': 320px,
	'phone': 576px,
	'tablet': 768px,
	'desktop': 992px,
	'widescreen': 1200px
);
// keywords
$media-expressions: (
	'screen': 'screen',  
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);



@import "bootstrap-custom";

@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";
@import 'vendors/include-media';


@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'layout/fonts';
@import 'layout/common';
@import 'layout/header';
@import 'layout/footer';

@import 'layout/slick';
@import '_popups.scss';

/*Nav*/
@import 'components/navigation'; 
@import 'pages/_homepage.scss';
@import 'pages/_calculator.scss';
@import 'pages/_Complaint-page';

html{ height: 100%;}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	height: 100%;
	font-weight: 300;
}
#wrapper{
	overflow: hidden;
	width: 100%;
	position: relative;
	display: table;
	table-layout: fixed;
	height: 100%;
}
ul{
	padding: 0;
	li{
		list-style: none;
	}
}
p {
    font-size: 14px;
    line-height: 27px;
    color: $black; 
    font-weight: 300;
}
/* Margin*/
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.btn{
	min-width: 100px;
	&.active.focus,
	&.active:focus,
	&.focus,
	&.focus:active,
	&.active:focus,
	&:focus { 
		outline: 0 !important;
		outline-offset: 0  !important;
		background-image: none  !important;
		-webkit-box-shadow: none !important;
		box-shadow: none  !important;
	}
}
a:hover{
	text-decoration: none;
	color: $black;
}
.form-control{ 
	&:focus{
		box-shadow: none;
		border: 1px solid $ghost;
	}}
/* header-banner */
/* Comman Css*/
.noresize { resize: none; }
.no-background{
	background-color: transparent !important;
}
.header-banner{
	background-size: cover !important;
	width: 100%;
	padding: 42px 0 17px 0;
	margin-bottom: 20px;
	h1 {
		margin: 0;
		padding: 0;
		color: $white;
		font-weight: 300;
		font-size: 20px;
		line-height: 30px; 
		@include media-breakpoint-up(md) {
			font-size: 30px;
			line-height: 46px; 
		}
	} 
	.breadcrumb{
		background: none;
		border-radius: 0;
		padding-left: 0; 
		padding-top: 0;
	}
	.breadcrumb-item {
		display: inline-block;
		vertical-align: top;
		position: relative; 
		@include media-breakpoint-up(md) { margin-top: 10px; }
		a {
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
			line-height: 20px;
			font-weight: 300;
			color: $white;
			margin: 0;
			padding: 0;
			text-decoration: none;

		}
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		&:before {
			content:"/ ";
			color: gray;
			display: inline-block;
			vertical-align: top;
			margin: -3px 10px 0 5px;
			
		}
	} 		
	.breadcrumb-item.active {
		color: $white;
		font-size: 12px;
		line-height: 20px;
		font-weight: 300;
	}
.btn{
	 &.btn-primary{ 
		border-radius: 2px;	
		background-color: $white;
		border:1px solid $black;
		color: $black;
		font-size: 12px;	
		font-weight: 500;	
		line-height: 18px;
		text-transform: capitalize;
		&:hover{
		/*	background-color: $flush-orange;
			border:1px solid $flush-orange;*/
			color: $white;
		}
		&.blue-btn{
			background-color: $cerulean;
			border:1px solid $cerulean;
		}
	 }
	 &.btn-secondary{
		border-radius: 2px;	
		/*background-color: $flush-orange;
		border:1px solid $flush-orange;*/
		color: $white;
		font-size: 14px;	
		font-weight: 500;	
		line-height: 21px;
		padding: 10px 26px;
		&:hover{
			background-color: $white;
			border:1px solid $black;
			color: $black;
		}
	 }
	 span{
		 display: inline-block;
	 }
	 i{
		 font-style: normal;
	 }
}
.active-btn{ 
	/*background-color: $flush-orange;
	border:1px solid $flush-orange;*/
	color: $white;
	border-radius: 2px;	
	font-size: 14px;	
	font-weight: 500;	
	line-height: 21px;
	&:hover{
		background-color: $white;
		border:1px solid $black;
		color: $black;
	}
}
.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 15px;
	color: $white;
	content: "/";

}


/* End Comman Css*/
.hd-border{
	border-bottom: 1px dashed $black;
	padding-bottom: 10px;
	margin-bottom: 17px;
	font-size: 16px;
}
.form-holder{
 label{
	font-size: 12px;	
	font-weight: 500;	
	line-height: 19px;
	text-transform: capitalize;
 }
}
.align-right-center{
	text-align: center;
}

/*fonts*/
h1{
	font-size: 48px;
	line-height: 61px;
	font-weight: 300;
}
/*h3{
	font-size: 16px;	
	font-weight: 500;	
	line-height: 19px;
	margin-top: 20px;
}
h4 {
	font-size: 18px;	
	font-weight: 500;	
	line-height: 29px;
}*/
h5 {
	font-size: 18px;	
	font-weight: 600;	
	line-height: 30px;
}
a {
	font-size: 16px;	
	line-height: 25px;
}
/* Check box*/
.custom-checkbox{
		margin-bottom: 15px;
		margin-left: 15px;
		display: block;

	}
	.custom-checkbox input[type="checkbox"]{
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: -999;
	}
	.custom-checkbox .custom-input {
		width: 25px;
		height: 25px;
		border: 1px solid #ced4da;
		background: $white;
		float: left;
		margin-right: 10px;
		position: relative;
		border-radius: 2px;
	}
	.custom-checkbox .custom-input:after{
		content: "";
    position: absolute;
    width: 6px;
    height: 13px;
    left: 1px;
    top: 1px;
    border: 2px solid #000;
    border-top: 0;
    border-left: 0;
    visibility: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 8px;
	}
	.custom-checkbox input[type="checkbox"]:checked + .custom-input:after{
		visibility: visible;
	}
/* End Check box*/

/* Radio Button */
.radio-button-holder{
		margin: 10px 0;
    clear: both;
		float: left;
		padding: 0;
			li{
				float: left;
				margin-right: 20px;
				width: 100%;
			}
		
	
	.custom-radio{
		margin-bottom: 10px;
		margin-left: 0;
		display: block;
		font-size: 14px;
		font-weight: 300;

	}
	.custom-radio input[type="radio"]{
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: -999;
	}
	.custom-radio .custom-input {
		width: 16px;
		height: 16px;
		border: 1px solid $cerulean;
		background: $white;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
		position: relative;
		border-radius: 50px;
	}
	.custom-radio .custom-input:after{
		content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background: $cerulean;
			/* height: 13px; */
			left: 1px;
			top: 1px;
			visibility: hidden;
			margin: 1px 0 0 1px;
			border-radius: 50px;
	}
	.custom-radio input[type="radio"]:checked + .custom-input:after{
		visibility: visible;
	}
	i{
		font-style: normal;
	}
}
/* End radio button*/
/* End Comman Css*/
.buttons-holder{
	border-top: 1px solid $dustygray;
	padding-top: 30px;
	margin-top: 30px;
}
/* Contact Us */
.contact-us{
	form{
		margin-top: 35px;
	}
	.sendto{
		color: $black;
		font-size: 21px;
		font-weight: 300;	
		line-height: 31px;
		a{
			color: $black;
			text-decoration: none;
		}
	}
}
/* End Contact Us */ 

.radiobtn-tans{
	margin-bottom: 20px;
	.nav-item{
		&:first-child{
			a{
				 padding-left: 0;
			}
		}
	}
	.nav-link{
		color: $black;
		line-height: 10px;
		&:hover{
			color: $black;
		}

		.tab-state{
			width: 20px;
			height: 20px;
			background: url("../images/non-active-radio.png") no-repeat;
			background-size: cover;
			display: inline-block;
			border-radius: 50%;
			vertical-align: middle;
			color: $black;
			
		}
		&.active{
			background-color: transparent;
			.tab-state{
				background: url("../images/active-radio.png") no-repeat;
				background-size: cover;
				
			}
		}
	}
}
/* Select dropdown*/
.dropdown-sel{
	position: relative;
	.nice-select{
			float: none;
			width: 100%;
			.list{
				width: 100%;
				.option{
					&.selected{
						font-weight: normal;
					}
				}
			}
	}
}
// select {
// 	-webkit-appearance: none;

// 	&::-ms-expand { display: none;}
// }
.table-holder{
	overflow: auto;
	@include media-breakpoint-up(sm) {
		overflow: inherit;
	}
}
.table-holder{
	&.full-width-scroll{
		overflow: auto;
		@include media-breakpoint-up(lg) {
			overflow: inherit;
		}
	}
}  
/* form label*/
.form-align{
		@include media-breakpoint-up(sm) {
			[class^="col-"], [class*=" col-"]{
				display: flex;
				flex-flow: row wrap;
			}
			.form-group{
				display: flex;
				flex-flow: column wrap;
				width: 100%;
					label{ 
						flex-grow: 1;
					}
			}
		}
} 
/* active button*/
.btn{
	&.active-btn{ 
		/*background-color: $flush-orange;
		border:1px solid $flush-orange;*/
		color: $white;
		&:hover{
			background-color: $white;
			border:1px solid $black;
			color: $black;
		}
	} 
} 
/* Fixes */
.sw-theme-arrows > ul.step-anchor{
	padding-top: -25px;
	display: inline-block;
}
.sw-theme-arrows > ul.step-anchor > li{ 
	display: inline-block;
	
}
#smartwizard {
	
	.sw-toolbar-top {
		display: none;
	}
		.btn-toolbar{
			.btn{
				color: $black;
				&.btn-primary{ 
				border-radius: 2px;
				font-size: 12px;	
				font-weight: 500;	
				line-height: 18px;
				text-transform: capitalize;
				&:hover,
				&:focus,
				&:active{
					/*background-color: $flush-orange;
					border:1px solid $flush-orange; */
					color: $black;
				}
				}
				&.btn-info,
				&.btn-danger {
					display: none;
					color: $white;
				}
				&.btn-info:hover {
					color: $black;
				}
				&.btn-secondary{
					border-radius: 2px;	
					padding: 5px 25px;
					&.sw-btn-next{
						/*background-color: $flush-orange;
						border:1px solid $flush-orange;*/
						margin-left: 10px;
						color: $white;
						&:hover{
							background-color: $white;
							border:1px solid $black;
							color: $black;
						}
					}
				&.sw-btn-prev{ 
					background-color: $white;
				border:1px solid $black;
				color: $black;
				font-size: 14px;	
				font-weight: 500;	
				line-height: 21px;
				padding: 8px 25px;
				margin-left: 10px;
				&:hover{
					/*background-color: $flush-orange;
					border:1px solid $flush-orange;*/
					color: $white;
				}

				}
				
				}
		}
	}
} 
/*pagination*/
.pagination{
	.page-link{
		border: 1px solid lightgray;
		color: black;
		font-weight: 300;
		font-size: 12px;
		padding: 8px;
		&:hover{
			/*background: $flush-orange;*/
			color:$white;
		}
	}
}
/* font awesome hover color change*/
a{
	.fa{
		&:hover{
			/*color: $flush-orange;*/
		}
	}
}
.custom-radio {
	position: relative;
	margin: 0;

	&.inactive {
		input {
			&:checked + .fake-label {
				background-color: red;
				border: 1px solid red;
			}
		}
	}

	input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: -1;

		&:checked + .fake-label {
			background-color: $fun-green;
			color: $white;
			border: 1px solid $fun-green;
		}
	}
	.fake-label {
		display: inline-block;
		vertical-align: top;
		border: 1px solid #ccc;
		padding: 4px 15px;
		font-size: 10px;
		line-height: 16px;
	}
}

.no-resize{
	resize: none;
}
.form-control{
	font-size: 12px;
}
textarea{
	font-weight: 300;
	font-size: 14px;
	position: relative; 

	&.area-height{
		height: 55px;
		overflow: auto;
	}
	&.area-height-80{
		height: 70px;
		overflow: auto;
	}
	
}

.stamp-paper-deed-main{
	.custom-checkbox{
		.custom-label{
			margin-top: 5px;
			display: inline-block;
		}
	}
}
.form-group{
	label{
		font-size: 12px;
		font-weight: 500;
	}
}
.image-captcha {
  img {
    width: 28%;
    display: block;
		height: auto;
		margin: 10px 0;
  }
}

.radiobtn-holder{
		width: 100%;
		clear: both;

	ul{
		margin: 0;
		padding: 0;
		 li{
			 list-style: none;
			 width: 200px;
			 float: left;
		 }
	}
// ===========================
// radio
// ===========================
.custom-radio {
  display:none;

  + label {
    font-weight: normal;
    cursor: pointer; 
    
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 20px;
      height: 20px;
      cursor:pointer;
      border-radius: 50%;
      position: relative;
      border: 1px solid $blue;
      
      &::before { 
        content: "";        
       // @include opacity(0);
        width: 14px;
        height: 14px;
				border-radius: 50%;
				background-color: $blue;
				position: absolute;
				top: 2px;
				right: 2px;
				display: none;
       // @include absolute-center();
       // @include transition(opacity $tt);        
      }
    }
  }
  
  &:checked + label span::before{
			display: block;
  }
  
  &:disabled + label {
  display: block;
    
    &, span {
      cursor: default; 
    }
  }
}
}


.search-holder{
	background: $cyprus;
	padding: 10px;
	.search-col-1{
		width: 214px;
		.form-control {
			width: 210px;
		}
		
	}
	.search-col-text{
		width: 144px;
		text-align: right;
		padding-right: 10px;
	}
	p{
		font-size: 11px;
		color: $white;
		margin-bottom: 0;
		line-height: 0;
		padding-top: 8px;
	}
	span{
		font-size: 18px;
		color: $white;
	}
}
.hd-holder{
	position: relative;
	width: 100%;
	border-bottom: 1px solid $alto2;
	margin-bottom: 20px;
	display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-items: center;
		h6{
			font-size: 28px;	
			line-height: 42px;
			display: inline-block;
			flex-grow: 1;
		}
		.bd-line{
			    position: absolute;
			    width: 100px;
			    border-bottom: 5px solid $black;
			    bottom: -2px;
			    left: 0;

		}
		a{

		}
}
.bg-holder{
	background: $alabaster;
	padding: 25px;
	margin-bottom: 10px;
}
.read-more{
	color: $fun-green;
	font-size: 14px;
}
#main {
	&.innerpage{
		margin-top: 15px;
	}
}
.basic-detail-holder{
	p{
		font-size: 14px;
		border: 1px solid $alto3;
		border-radius: 5px;
		span{
			width: 160px;
			background-color: $alto4;
			display: inline-block;
			padding-left: 5px;
		}

	}
}

.profile-detail-holder{
	.profile-pic{
		max-width: 160px;
		margin-right: 5px;
		display: inline-block;
		vertical-align: top;
	}
	.profile-deail{
		display: inline-block;
		max-width: 184px;
		li{
				padding-bottom: 10px;
			
			span{
				font-weight: 500
			}
			p{
				margin: 0;

			}
		}
	}
}
.upload-files{
	background: $altosolid;
	padding: 20px;
	.upload-file{
		span{}
		summary{
				color: $fun-green;
				font-size: 14px;
				display: inline-block;
				margin-left: 10px;
				text-overflow: ellipsis;
				white-space: nowrap;
				border-bottom: 1px solid;
			}
		}
}
/* calculator*/
.calculator-holder{
	width: 500px;
	margin: 0 auto;
	.calculator-value{
		padding-bottom: 10px;
		background-color: #F00;
	}
}