/*Custom variables*/
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

#footer {
  margin-top: 60px; }
  #footer .footer1 {
    background: #ededed; }
    #footer .footer1 [class^="col-"], #footer .footer1 [class*=" col-"] {
      display: flex;
      flex-direction: column;
      padding: 30px; }
      #footer .footer1 [class^="col-"] h4, #footer .footer1 [class*=" col-"] h4 {
        flex-grow: 1; }
      #footer .footer1 [class^="col-"] li a, #footer .footer1 [class*=" col-"] li a {
        color: #000; }
    #footer .footer1 .e-stamping-btn img {
      max-width: 100%; }
  #footer .copy-rights {
    padding: 27px 0; }

#header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
  padding-top: 10px; }
  #header .logo {
    margin: 0 0 -17px 5px;
    position: relative;
    z-index: 1;
    width: 170px; }
    #header .logo img {
      max-width: 100%; }
    @media (min-width: 992px) {
      #header .logo {
        margin: 0 0 -27px 5px;
        width: 250px; } }

/* Slick slider styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slider-holder {
  position: relative;
  padding: 60px 0 15px 0; }
  .slider-holder .banner-icon-img img {
    max-width: 100%; }
  .slider-holder .image-holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important; }
  .slider-holder .slick-dots .slick-active button {
    background-color: #fff; }
  .slider-holder .slick-dots li {
    display: inline-block;
    vertical-align: top; }
    .slider-holder .slick-dots li button {
      overflow: hidden;
      height: 8px;
      width: 30px;
      border-radius: 4px;
      border: none;
      margin-left: 4px;
      text-indent: -999px;
      display: inline-block; }
  .slider-holder .caption h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: normal;
    color: #fff; }
    @media (min-width: 768px) {
      .slider-holder .caption h1 {
        font-size: 34px;
        line-height: 38px; } }
    @media (min-width: 992px) {
      .slider-holder .caption h1 {
        font-size: 48px;
        line-height: 61px; } }

/* Home page popup */
.popup .modal-header {
  border-bottom: none;
  padding: 50px 50px 20px 50px; }
.popup .modal-body {
  padding: 10px 45px; }
  .popup .modal-body .speaker-logo {
    border-bottom: 1px solid #26A69A;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0; }
    .popup .modal-body .speaker-logo a {
      text-decoration: none;
      color: inherit; }
    .popup .modal-body .speaker-logo .speaker {
      color: #26A69A;
      cursor: pointer;
      padding: 0 8px;
      font-size: 22px;
      line-height: 26px;
      font-weight: 300; }
.popup .align {
  padding-bottom: 45px; }
.popup .float-right {
  right: 0; }
  .popup .float-right img {
    float: right;
    transform: rotate(180deg); }
.popup .modal-dialog {
  max-width: 1110px !important; }
.popup p {
  font-size: 22px;
  font-weight: 300;
  line-height: 39px; }

.bdr-right {
  border-right: none; }
  @media (min-width: 992px) {
    .bdr-right {
      border-right: 1px solid #979797; } }

.modal-footer .btn-primary {
  padding: 14px 57px;
  border-radius: 2px; }
  .modal-footer .btn-primary:hover {
    background-color: #ff7c00;
    color: #fff;
    border: 1px solid #ff7c00; }
  @media (max-width: 767.98px) {
    .modal-footer .btn-primary {
      padding: 5px 10px; } }

/* Nav*/
@media (min-width: 768px) {
  .navbar-nav li {
    margin-right: 10px; }
    .navbar-nav li:last-child {
      margin-right: 0; } }
.navbar-nav li .nav-link {
  color: #474747;
  padding: 3px 20px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  color: #474747; }
  .navbar-nav li .nav-link:hover {
    background: #ff7c00;
    color: #fff; }

@media (max-width: 991.98px) {
  .dropdown-menu {
    border: none; }
    .dropdown-menu .dropdown-toggle:after {
      float: right;
      margin-top: 8px; } }
.dropdown-menu .dropdown-item {
  color: #474747;
  padding: 3px 20px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  color: #474747; }
  .dropdown-menu .dropdown-item:hover {
    background: #ff7c00;
    color: #fff; }

@media (max-width: 767.98px) {
  #header {
    position: relative; }
    #header .navbar {
      position: static;
      padding: 0; }
    #header .row {
      position: relative; }
    #header .col-md-9 {
      position: static; }

  .navbar-toggler {
    color: #ff7c00; }

  .navbar-collapse {
    background: #fff;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 1;
    padding: 5px 10px; }

  .nav-link {
    border-bottom: 1px solid #000; } }
/* Home page*/
.our-services {
  margin-top: 60px; }
  .our-services [class^="col-"], .our-services [class*=" col-"] {
    display: flex; }
    .our-services [class^="col-"] .card, .our-services [class*=" col-"] .card {
      margin-bottom: 40px;
      border: 1px solid #fff;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22); }
      .our-services [class^="col-"] .card:hover, .our-services [class*=" col-"] .card:hover {
        border: 1px solid #C4B742; }
        .our-services [class^="col-"] .card:hover .services-icon, .our-services [class*=" col-"] .card:hover .services-icon {
          background: #F7F3DD; }
        .our-services [class^="col-"] .card:hover .btn.btn-primary, .our-services [class*=" col-"] .card:hover .btn.btn-primary {
          border-radius: 2px;
          background: #ff7c00;
          border: 1px solid #000;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          border: none; }
  .our-services .services-icon {
    background: #f2f2f2;
    min-height: 130px;
    display: flex;
    align-items: center; }
  .our-services .card-body {
    display: flex;
    flex-direction: column; }
    .our-services .card-body .text-holder {
      flex-grow: 1; }
    .our-services .card-body .btn-holder {
      margin-top: 30px; }

.card-img-top {
  width: inherit;
  display: block;
  margin: 0 auto; }

.card-title {
  text-align: center; }

.card-text {
  text-align: center; }

.our-services .card {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .our-services .card .card-text {
    text-align: left; }
  @media (min-width: 576px) {
    .our-services .card {
      flex-direction: column; }
      .our-services .card .card-text {
        text-align: center; } }

.faqs .faq-img-holder {
  background: url("../images/banner-faq.png") no-repeat;
  background-size: cover;
  width: 100%;
  padding: 42px 0; }
.faqs .btn-link {
  color: #000;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 10px 0;
  white-space: normal; }
  .faqs .btn-link:focus, .faqs .btn-link.focus, .faqs .btn-link:hover {
    color: inherit;
    text-decoration: none; }
  .faqs .btn-link.collapsed:after {
    content: '\f067';
    color: #ff7c00; }
  .faqs .btn-link:after {
    position: absolute;
    right: 0;
    content: '\f068';
    font-family: "FontAwesome";
    font-weight: 100;
    font-size: 16px;
    color: #00933b; }
.faqs .card-header {
  background-color: #fff;
  border-bottom: none;
  padding: 0; }
.faqs .card {
  border: none;
  border-top: 1px solid #474747; }
  .faqs .card:last-child {
    border-bottom: 1px solid #474747; }
.faqs #accordion {
  padding-top: 50px; }
.faqs .card-body {
  color: #7A7A7A;
  font-size: 18px;
  font-weight: 300;
  line-height: 37px;
  padding: 10px 10px; }

.about h2 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 26px;
  line-height: 39px;
  font-weight: 400;
  margin-bottom: 15px; }
.about p {
  color: #7A7A7A;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 0; }

.challan-info .header-banner {
  background: url("../images/banner-faq.png") no-repeat; }

body {
  font-family: 'Poppins', sans-serif; }

/* header-banner */
/* Comman Css*/
.noresize {
  resize: none; }

.header-banner {
  background: url("../images/banner-faq.png") no-repeat;
  background-size: cover;
  width: 100%;
  padding: 42px 0;
  margin-bottom: 60px; }
  .header-banner h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: normal;
    font-size: 44px;
    line-height: 46px; }
  .header-banner .breadcrumb {
    background: none;
    border-radius: none;
    padding-left: 0; }
  .header-banner .breadcrumb-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 10px; }
    .header-banner .breadcrumb-item a {
      display: inline-block;
      vertical-align: top;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
      color: #fff;
      margin: 0;
      padding: 0;
      text-decoration: none; }
  .header-banner:first-child:before {
    display: none; }
  .header-banner:before {
    content: "/ ";
    color: gray;
    display: inline-block;
    vertical-align: top;
    margin: -3px 10px 0 5px; }

.breadcrumb-item.active {
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300; }

form .form-group {
  margin-bottom: 16px; }
  form .form-group label {
    text-transform: capitalize;
    color: #484848;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px; }

.btn.btn-primary {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px; }
  .btn.btn-primary:hover {
    background-color: #ff7c00;
    border: 1px solid #ff7c00;
    color: #fff; }
.btn.btn-secondary {
  border-radius: 2px;
  background-color: #ff7c00;
  border: 1px solid #ff7c00;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  padding: 14px 57px; }
  .btn.btn-secondary:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000; }

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 15px;
  color: #fff;
  content: "/"; }

/* End Comman Css*/
.faq-img-holder {
  background-color: #000;
  width: 100%;
  padding: 52px 0; }

.hd-border {
  border-bottom: 1px dashed #000;
  padding-bottom: 10px;
  margin-bottom: 17px; }

.form-holder label {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  text-transform: capitalize; }
.form-holder h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 40px; }

/* Check box*/
.custom-checkbox {
  margin-bottom: 15px;
  margin-left: 15px;
  display: block; }

.custom-checkbox input[type="checkbox"] {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -999; }

.custom-checkbox .custom-input {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background: #fff;
  float: left;
  margin-right: 10px;
  position: relative; }

.custom-checkbox .custom-input:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 3px;
  top: 3px;
  background: #000;
  visibility: hidden; }

.custom-checkbox input[type="checkbox"]:checked + .custom-input:after {
  visibility: visible; }

/* End Check box*/
/* End Comman Css*/
.buttons-holder {
  border-top: 1px solid #000;
  padding-top: 20px; }

/* Contact Us */
.contact-us form {
  margin-top: 35px; }
.contact-us .sendto {
  color: #000;
  font-size: 21px;
  font-weight: 300;
  line-height: 31px; }
  .contact-us .sendto a {
    color: #000;
    text-decoration: none; }

/* End Contact Us */
/* white-circle*/
.white-circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #FFF;
  border: 1px solid #000;
  border-radius: 50%; }

.active-tab-circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #FOF;
  border: 1px solid #000;
  border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
