@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nvkc63');
  src:  url('../fonts/icomoon.eot?nvkc63#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nvkc63') format('truetype'),
    url('../fonts/icomoon.woff?nvkc63') format('woff'),
    url('../fonts/icomoon.svg?nvkc63#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
icon-call-icon-footer:before {
  content: "\e90a";
  color: #fff;
}
.icon-email-icon-footer:before {
  content: "\e90b";
  color: #fff;
}
.icon-fb-icon .path1:before {
  content: "\e90c";
  color: rgb(51, 102, 153);
}
.icon-fb-icon .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-google-play:before {
  content: "\e90e";
}
.icon-linkedin-icon .path1:before {
  content: "\e90f";
  color: rgb(9, 119, 181);
}
.icon-linkedin-icon .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-location-icon-footer:before {
  content: "\e911";
  color: #fff;
}
.icon-right-arrow-footer:before {
  content: "\e912";
  color: #fff;
}
.icon-twitter-icon .path1:before {
  content: "\e913";
  color: rgb(0, 172, 237);
}
.icon-twitter-icon .path2:before {
  content: "\e914";
  margin-left: -0.96875em;
  color: rgb(255, 255, 255);
}
.icon-youtube-icon .path1:before {
  content: "\e915";
  color: rgb(204, 51, 51);
}
.icon-youtube-icon .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-complaint-icon:before {
  content: "\e900";
  color: #fff;
}
.icon-digitize-map-icon:before {
  content: "\e901";
  color: #fff;
}
.icon-e-stamping-icon:before {
  content: "\e902";
  color: #fff;
}
.icon-fee-schedules-icon:before {
  content: "\e903";
  color: #fff;
}
.icon-grievance-icon:before {
  content: "\e904";
  color: #fff;
}
.icon-logo-icon:before {
  content: "\e905";
  color: #01923f;
}
.icon-markaz-sahuliyat-icon:before {
  content: "\e906";
  color: #fff;
}
.icon-property-register-icon:before {
  content: "\e907";
  color: #fff;
}
.icon-registry-deeds-icon:before {
  content: "\e908";
  color: #fff;
}
.icon-tax-calculator-icon:before {
  content: "\e909";
  color: #fff;
}
.icon-download-icon:before {
  content: "\e917";
  color: #01923f;
}

@include media-breakpoint-down(sm) {
  .banner-menu-holder{
    .icon-property-register-icon:before {
      content: "\e907";
      color: $cyprus;
    }
    .icon-fee-schedules-icon:before {
    content: "\e903";
    color: $cyprus;
    }
    .icon-digitize-map-icon:before {
    content: "\e901";
    color: $cyprus;
    }
    .icon-complaint-icon:before {
    content: "\e900";
    color: $cyprus;
    }
    .icon-tax-calculator-icon:before {
      content: "\e909";
      color: $cyprus;
    }
  }
}
.icon-grievance-icon:before {
  content: "\e904";
  color: #fff;
}

