#footer {
  display: block;
  height: 1%;
  width: 100%;
  color: $white;
  font-size: 14px;
  .footer-content{
    background: $tiber;
    margin-top: 20px;
    [class^="col-"], [class*=" col-"]{
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px;
      @include media-breakpoint-up(md) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    h4{
      // flex-grow: 1;
      color: $white;
      font-size: 21px;
    } 
   
      li{
        a{ 
          color: $white;
          font-weight: 100;
          font-size: 14px;
            &:hover{
              color: $flush-orange;
            }
        }
      }

  }
  .social-media{
  ul{
    padding: 0; 
    margin: 0;
    li{
      display: inline-block;;
      padding-right: 10px;
    }
  }
    
  }
  .e-stamping-btn{
    img{  
      max-width: 180px;
      width: 100%;
    }
  }
}
  .copy-rights{ 
    padding: 10px 0;
    font-size: 12px;
    font-weight: 100;
      a{
        color: $black;
        font-size: 12px;
        font-weight: 100;
        &:hover{
          color: $flush-orange;
        }
      }
  }
  p{
    color: $white;
    font-size: 14px;
    font-weight: 300;
  }
  
}
.visitor-counter{
  ul{
    background: $gray;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid $silver;
    li{
      display: inline-block;
      padding: 0 8px;
      border-right: 1px solid $silver;

    }
  }
}
.social-media{
  a{
    [class^="icon-"], [class*=" icon-"]{
      font-size: 30px;
    }
  }

}
.footer-link{
  li{
    padding-bottom: 10px;
    a:before {
    content: "\e912";
    color: $white;
    font-family: icomoon;
    display: inline-block;
    padding-right: 10px;
    font-size: 10px;
    }
  }
}
/*.content-detail{
    li{
        padding-bottom: 10px;
      .phone-no:before{
         content: "\e90a";
        color: $white;
        font-family: icomoon;
        display: inline-block;
        padding-right: 15px;
      }
      .email-address:before{
        content: "\e90b";
        color: $white;
        font-family: icomoon;
        display: inline-block;
        padding-right: 10px;
      }
      .location:before{
      
          content: "\e911";
          color: $white;
          font-family: icomoon;
          display: inline-block;
          padding-right: 10px; 
        
      }
    }
  }*/

