/* Slick slider styles */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}
.slider-holder{ 
    position: relative; 
		padding: 15px 0 15px 0;
		@include media-breakpoint-up(md) { padding: 25px 0 15px 0; }
		@include media-breakpoint-up(lg) { padding: 25px 0 15px 0; }
    .banner-icon-img{
        img{
            max-width: 100%;
        }
    }
    .image-holder{
        position: absolute; 
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    .slick-dots{
        .slick-active{
          button{
            background-color: $white;
          }
        }
        li{
          display: inline-block;
          vertical-align: top;
          button{
            overflow: hidden;
            height: 4px;	
            width: 17px;	
            border-radius: 4px;
            border: none;
            margin-left: 4px;
            text-indent: -999px;
            display: inline-block;
          }
        }
      } 
      .caption{
        h1{
          font-family: 'Poppins', sans-serif;
          font-size: 17px;	
          line-height: 22px;
          font-weight: normal;
					color: $white; 
					
          @include media-breakpoint-up(md) {
            font-size: 34px;	
						line-height: 38px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 30px;	
						line-height: 44px;
          }
				}
				p{
					font-size: 12px;
					color: $white;
					font-weight: 300;
					line-height: 18px;
					@include media-breakpoint-up(md) {
            font-size: 16px;
						line-height: 18px;
					}
					
				}
      }
		}
.slider-holder{
	.slick-slide{ 
			.banner-icon-img{
					text-align: center;
					padding-top: 10px;
					img{
							display: inline-block;
							width: 55%;
							max-height: 200px;
							// margin: 10px 0 20px 0;
							@include media-breakpoint-up(lg) {width: auto;}
							@include media-breakpoint-up(xl) {width: auto;}
							
					}
			}
	}
	.slick-dots{
		margin: 0 auto;
		padding: 0 15px;
		@include media-breakpoint-up(sm) {max-width: 540px;}
		@include media-breakpoint-up(md) {max-width: 720px;}
		@include media-breakpoint-up(lg) {max-width: 960px;}
		@include media-breakpoint-up(xl) {max-width: 1080px;}
	}
}

