@page
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="dashboard-panel">

    <div class="page-content dashboard-search">
        <div class="row">
            <div class="col-md-12">
                <div class="black-hd-holder main-hd-dashboard">
                    <h6>Dashboard</h6>
                </div>
            </div>
        </div>
        <div class="table-box">
            <div class="search-bar complaints-calendar-bar ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form class="form-inline">
                                <ul class="nomargin">
                                    <li class="length length3">
                                        <span> Custom Search </span>
                                    </li>
                                    <li class="length4 ">
                                        @*<div class="calendar-holder calendar-start">
                                                <input type="text" class="datepicker form-control" placeholder="Select Districts">

                                            </div>*@
                                        <div class="form-group">
                                            <span class="custom-dropdown">
                                                <select class="form-control"
                                                        data-bind="
                                                    options: DistrictList,
                                                    optionsText: 'Text',
                                                    optionsValue: 'Value',
                                                    optionsCaption: 'Select District',
                                                    value: selectedDistrict"></select>
                                            </span>
                                        </div>

                                    </li>
                                    <li class="length ">
                                        <div class="calendar-holder calendar-start">
                                            <input type="text" class="datepicker form-control" data-bind="value:startDate" placeholder="Start Date">
                                            <span class="icon-calander-icon"></span>
                                        </div>

                                    </li>
                                    <li class="length">
                                        <div class="calendar-holder calendar-end">
                                            <input type="text" class="datepicker form-control" data-bind="value:endDate" placeholder="End Date">
                                            <span class="icon-calander-icon"></span>
                                        </div>
                                    </li>
                                    <li class="length length2">
                                        <button type="submit" class="customBtn" data-bind="click:onSearch">Apply</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bar char horizontal !-->
    <div class="complaints-overview">
        <div class="page-content">

            <div class="table-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hd-holder">
                            <h6>Land Record Digitization</h6>
                            <span class="bd-line"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="map-tiles">
                            <div id="container3">
                            </div>
                            <h6 class="bt-hd"> Digitization Progess </h6>
                            <h6 class="horizontah-hd"> Process </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="land-record-digitization">
        <div class="page-content">
            <div class="table-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hd-holder">
                            <h6>Complaints Overview</h6>
                            <div class="row-status">
                                <p>Total Complaints: <b data-bind="text: TotalComplaints"></b></p>
                            </div>
                            <span class="bd-line"></span>
                        </div>
                        <div class="map-tiles">
                            <div id="container1">
                            </div>
                            <h6 class="bt-hd"> Compalints Status </h6>
                            <h6 class="horizontah-hd"> No. of Complaints </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="revenue-feed">
        <div class="row">

            <div class="col-md-6 revenue-stream-panel ">

                <div class="page-content">
                    <div class="table-box">
                        <div class="hd-holder">
                            <h6>Revenue Stream</h6>
                            <span class="bd-line"></span>
                        </div>
                        <div class="revenue-stream">
                            <div class="revenue-head">
                                <span> Land Transfer </span>
                            </div>
                            <div class="total-revenue">
                                <span> 9,824  <sub> PKR </sub> </span>
                            </div>
                        </div>
                        <div class="revenue-stream stampduty-pod">
                            <div class="revenue-head">
                                <span> Stampduty </span>
                            </div>
                            <div class="total-revenue">
                                <span> <text data-bind="text:Stampduty"> 0 </text><sub> PKR </sub> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 customer-feedback-panel">
                <div class="page-content">
                    <div class="table-box">
                        <div class="hd-holder">
                            <h6>Customer Feedback</h6>
                            <span class="bd-line"></span>
                        </div>
                        <div class="pie-chart-ht">
                            <div id="container5" style=""></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content pt0">
        <div class="dshb-service-delivery">
            <div class="our-services">
                <figure>
                    <img src="~/images/cusotmer-visit-icon.svg" alt="The Pulpit Rock">
                </figure>
                <h6>53802</h6>
                <span>Customers Visit </span>
                <p>ROD + Markaz e Sahuliyat</p>
            </div>
            <div class="our-services">
                <figure>
                    <img src="~/images/land-transfer-icon.svg" alt="The Pulpit Rock">
                </figure>
                <h6>53802</h6>
                <span>Land Transfer </span>
            </div>
            <div class="our-services">
                <figure>
                    <img src="~/images/stamp-paper-issued-icon.svg" alt="The Pulpit Rock">
                </figure>
                <h6>53802</h6>
                <span>Stamp Paper Issued</span>
            </div>
            <div class="our-services">
                <figure>
                    <img src="~/images/registeries-recorded-icon.svg" alt="The Pulpit Rock">
                </figure>
                <h6>53802</h6>
                <span>Registries Recorded </span>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <script type="text/javascript">

        var chart; // global

        $(document).ready(function () {


            GetComplaintsOverviewData();
            LandRecordChart();
            GetLandRecordData();

        });

        var viewModel = {
            startDate: ko.observable(""),
            endDate: ko.observable(""),
            selectedDistrict: ko.observable(""),
            DistrictList: ko.observableArray(),
            TotalComplaints: ko.observable("0"),
            Stampduty: ko.observable()
        }

        $services.locationList((data) => {
            viewModel.DistrictList(data);
        })

        viewModel.onSearch = function () {
            GetLandRecordData();
            GetComplaintsOverviewData();

        }

        serialize = function (obj) {
            var str = [];
            for (var p in obj)
                if (obj.hasOwnProperty(p) && obj[p]!='') {
                 
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                }
            return str.join("&");
        }

        function GetLandRecordData() {

            var queryParams = {
                FromDate: viewModel.startDate(),
                ToDate: viewModel.endDate(),
                DistrictId: viewModel.selectedDistrict() == undefined ? "" : viewModel.selectedDistrict()
               
            };

           // console.log(serialize(queryParams));

            var params = JSON.stringify(queryParams).toString();
            var queryString = serialize(queryParams);
            queryString = queryString != "" ? "?" + queryString : "";
            $lib.http.get('/Dashboard' + queryString, (err, res) => {
                if (err) return;
                else {
                    
                    viewModel.Stampduty($util.formatAmount(res.TotalAmount,0));
                   // LandRecordChart(res);
                    // chart.series[0].addPoint('y', true, Estamp);
                }
            })
        }

        function GetComplaintsOverviewData() {
            var queryParams = {
                FromDate: viewModel.startDate(),
                ToDate: viewModel.endDate(),
                DistrictId: viewModel.selectedDistrict() == undefined ? "" : viewModel.selectedDistrict()

            };

            var queryString = serialize(queryParams);
            queryString = queryString != "" ? "?" + queryString : "";

            $lib.http.get('/Dashboard/GetComplaintStats' + queryString, (err, res) => {
               // debugger
                if (err) return;
                else {
                    viewModel.TotalComplaints(res.TotalComplaints);
                    ComplaintsOverviewChart(res);
                    CustomerFeedBackChart(res);
                    // chart.series[0].addPoint('y', true, Estamp);
                }
            })
        }
        // GetData();

        function LandRecordChart(result) {
            chart = Highcharts.chart('container3', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '',
                    //color: "#4c7c7c",
                },
                xAxis: {
                    categories: ['Scanning & Indexing', 'Data Entry', 'Markaz e Sahuliyat', 'Sub Registrar ', 'E-stamping']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal'
                    }
                },
                series: [
                    {
                        name: "",
                        color: "#4c7c7c",
                        //  data:[]
                        data: [{ y: 10 }, { y: 10.57 }, { y: 4.1 }, { y: 1.92 }, { y: 15 }]
                    }
                ]
            });
        }

        function ComplaintsOverviewChart(result) {
           //debugger;
            // Create the chart
            Highcharts.chart('container1', {
                chart: { type: 'column' },
                title: { text: '' },
                subtitle: { text: '' },
                xAxis: { type: 'category' },
                yAxis: {
                    title: { text: '' }
                },
                legend: { enabled: false },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: false,
                            format: '{point.y:.2f}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b><br/>'
                },

                series: [
                    {
                        name: "Complaints",
                        data: [
                            {
                                name: "Open",
                                y: result.OpenComplaints,
                                drilldown: "Open",
                                color: "#c12323"

                            },
                            {
                                name: "Re-Open",
                                y: result.ReOpenComplaints,
                                drilldown: "Re-Open",
                                color: "#8e00ff"
                            },
                            {
                                name: "Pending",
                                y: result.PendingComplaints,
                                drilldown: "Pending",
                                color: "#e9b600"
                            },
                            {
                                name: "InProgress",
                                y: result.InProgressComplaints,
                                drilldown: "Close",
                                color: "#fd7e14"
                            },
                            {
                                name: "Resolved",
                                y: result.ResolvedComplaints,
                                drilldown: "Close",
                                color: "#20c997"
                            },                          
                            {
                                name: "Close",
                                y: result.ClosedComplaints,
                                drilldown: "Close",
                                color: "#02d05a"
                            }
                        ]
                    }
                ],
            });
        }

        function CustomerFeedBackChart(result) {
            // Build the chart
            Highcharts.chart('container5', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y:f}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Feedback',
                    colorByPoint: true,
                    data: [{
                        name: 'Satisfied',
                        y: result.SatisfiedComplaints,
                        sliced: true,
                        selected: true
                    },
                    {
                        name: 'Unsatisfied',
                        y: result.UnSatisfiedComplaints
                    },
                    ]
                }]
                //series: [{
                //    name: 'Brands',
                //    colorByPoint: true,
                //    data: [{
                //        name: 'Chrome',
                //        y: 20.05,
                //        sliced: true,
                //        selected: true
                //    }, {
                //        name: 'Other',
                //        y: 61.41
                //    }]
                //}]
            });
        }

        $lib.bindUI(viewModel);
    </script>
}
