body {
  background: #F00; }

.custom-form.login {
  background: none;
  height: auto; }
  .custom-form.login .form-group {
    position: relative;
    /*overflow: hidden;*/ }
    .custom-form.login .form-group.focused {
      outline: none; }
      .custom-form.login .form-group.focused label {
        color: black;
        font-size: 10px;
        line-height: 12px;
        top: -5px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        background: white;
        padding: 3px 5px; }
    .custom-form.login .form-group label {
      position: absolute;
      top: 22px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #626262;
      font-family: Helvetica;
      font-size: 14px;
      line-height: 17px;
      width: auto;
      left: 20px;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      margin-bottom: 0; }
    .custom-form.login .form-group input {
      height: 42px;
      border: 1px solid white;
      font-size: 14px;
      line-height: 17px;
      padding: 10px 20px 0 20px;
      border-radius: 4px;
      background-color: white; }
      .custom-form.login .form-group input:focus {
        outline: none; }
    .custom-form.login .form-group .invalid-feedback {
      text-align: left;
      padding-left: 20px;
      color: white;
      font-size: 12px;
      line-height: 14px;
      display: none; }
    .custom-form.login .form-group .valid-feedback {
      background-color: white;
      font-size: 10px;
      line-height: 14px;
      position: absolute;
      right: 15px;
      border-radius: 20px;
      width: 15px;
      height: 15px;
      color: white;
      top: 15px;
      padding-top: 1px;
      display: block; }
  .custom-form.login .keep-signed-in {
    text-align: left;
    color: white; }
    .custom-form.login .keep-signed-in label {
      font-size: 14px; }
      .custom-form.login .keep-signed-in label input {
        margin: 3px 5px 0 0; }

.login-content h1 {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  color: #4D4D4D;
  margin-bottom: 20px; }

.pretty-input ~ .valid-feedback {
  position: absolute; }

.pretty-input ~ .invalid-feedback {
  position: absolute; }

.login-button {
  text-align: left; }
  .login-button .login-btn {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 19px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 11px 50px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    width: 100%;
    text-transform: lowercase; }
    .login-button .login-btn:hover {
      background-color: white;
      border: 1px solid black;
      color: black; }
  .login-button span {
    color: white;
    font-size: 14px; }
    .login-button span a {
      font-size: 14px;
      letter-spacing: 0.35px;
      line-height: 17px;
      color: white; }

/* white heading */
.hd-holder {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: left; }
  .hd-holder:after {
    content: '';
    width: 100px;
    height: 4px;
    background: #FFF;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0; }
  .hd-holder h6 {
    font-size: 28px;
    color: white; }
