<!DOCTYPE html>
<html>
<head>
    <partial name="_MainHeaderScriptsPartial" />
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.png" />
    <base href="/" >
</head>
<body>
    <div class="loading"></div>
    <header id="header">
        <partial name="_MainTopBarPartial" />
    </header>
    <div class="dashboard-holder body-content">
        <aside class="sider-menu">
            <partial name="_MainNavigationPanelPartial" />
        </aside>
        <div class="right-panel">
            <div class="page-content">

                @RenderBody()
            </div>
            <partial name="_MainFooterPartial" />
        </div>
    </div>
    <partial name="_MainBottomScriptsPartial" />
    @RenderSection("Scripts", required: false)
    <partial name="_ConfirmBoxPartial" />
    <script>
       
    </script> 
</body>
</html>
