<div class="inner-container mt10" >
    <div class="row">
        <div class="col-md-12">
            <h6>Attacments:</h6>
        </div>    
    </div>
    <div class="alert alert-sm alert-warning" data-bind="hidden:complaintAttachments().length > 0" >No Attachments.</div>
    <div data-bind="if:(complaintAttachments().length > 0)">
        <div class="row" data-bind="foreach: complaintAttachments">
            <div class="col-md-3" data-bind="attr:{id:'att'+ AttachmentId}">
                <div class="attachment-detail">
                    <div class="file-status"><span> <img src="~/images/doc-icon.svg" alt=""></span> <i data-bind="text:OriginalFileName"></i></div>
                    <div class="file-action">
                        <a href="javascript:" data-bind="click: $parent.viewAttachment"><img src="~/images/view-icon-news.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>