
<div class="right-content">
    <div class="hd-holder">
        <h6>Complaint Status</h6>
        <span class="bd-line"></span>
    </div>
    <form role="form" class="model-cus seacrhform">
        <div class="row">
            @*<div class="search-filter">
                    <p>Search by:</p>
                    <div class="round-check">
                        <ul class="clearfix">
                            <li class="list-check active">
                                <input type="checkbox" value="CN"  id="checkbox1"  />
                                <label for="checkbox1"></label>
                                <span>Complaint No.</span>
                            </li>
                            <li class="list-check">
                                <input type="checkbox" value="PH"  id="checkbox2" />
                                <label for="checkbox2"></label>
                                <span>Phone No.</span>
                            </li>
                            <li class="list-check">
                                <input type="checkbox" value="CNIC"  id="checkbox3" />
                                <label for="checkbox3"></label>
                                <span>CNIC</span>
                            </li>
                        </ul>
                    </div>
                </div>*@
            <div class="col-md-12" style="color:white">
                <label class="radio-inline"><input type="radio" value="CN" data-bind="checked:SelectedSearchType, click:OnSearchTypeSelected" name="optradio" checked >Complaint No.</label>
                <label class="radio-inline"><input type="radio" value="PH" data-bind="checked:SelectedSearchType, click:OnSearchTypeSelected" name="optradio"  > Phone No.</label>
                <label class="radio-inline"><input type="radio" value="CNIC" data-bind="checked:SelectedSearchType, click:OnSearchTypeSelected" name="optradio"> CNIC.</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group noerror-message" id="complaintSearchField">
                    <input class="form-control" type="text" data-bind="value:ComplaintSearchValue, attr:{placeHolder: SearchFieldPlaceHolder}">
                    <span class="error" data-bind="text:SearchFieldPlaceHolder">Please enter text</span>
                    <span class="error-icon">!</span>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" data-bind="click: onComplaintSearch" value="Search" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div class="more-info">
        <small>For more infomartion please contact us:</small>
        <p>(081) 111-11-22-33</p>
        <small>or check <a asp-page="/Faq/index">Frequently Ask Questions</a></small>
    </div>
</div>
