<form data-bind="submit:onComplaintUpdate">
    <div class="row">
        <div class="col-md-12">
            <h5>Please give your opinion regarding your complaint.</h5>
        </div>

        <div class="col-md-12">
            <small>* fields are mandatory!</small>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="custom-dropdown">
                    <select class="form-control"
                            data-bind="
                    options: UserOpinions,
                     optionsText: 'Text',
                                    optionsValue: 'Value',
                                    value: SelectedOpinion,
                                    optionsCaption: 'Please select your opinion *'"></select>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <textarea id="status-textarea"
                      placeholder="Comments"
                      data-bind="value:ComplaintComments">
            </textarea>


        </div>
        <div class="col-md-12" style="display:none" data-bind="visible:(selectedFiles().length > 0)">
            <div class="complaint-holder text-left">
                <div class="file-attacments">
                    <div class="inner-container mt10">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Attacments:</h6>
                            </div>
                        </div>
                        <div class="row" data-bind="foreach:selectedFiles()">
                            <div class="col-md-6" data-bind="attr:{id: 'att' + $index() }">
                                <div class="attachment-detail">
                                    <div class="file-status"><span><img src="images/doc-icon.svg" alt=""></span><i data-bind="text:name"></i></div>
                                    <div class="file-action">
                                        <a href="javascript:" title="delete" data-bind="click: $parent.deleteSelectedFile.bind($data,'att' + $index())"><img src="~/images/del-icon-news.svg" alt=""></a>
                                        <a href="javascript:" title="view" data-bind="click: $parent.viewSelectedFile.bind($data,'att' + $index())"><img src="~/images/view-icon.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            @*  <div class="fileContainer">
                <input type="file" name="myFile" class="" data-bind="event: { change: onFileSelect }" accept="image/jpeg, image/png, application/pdf" multiple>
                <a href=""> Choose File </a>
            </div>
            <p class="comTxt">Please upload related attachments (jpg, png, pdf are allowed.)</p>*@

            <div class="form-group">
                <label for="file-upload" class="custom-file-upload">
                    Choose File
                </label>
                <input id="file-upload" accept="image/jpeg, image/png, application/pdf" multiple type="file" data-bind="event:{change:onFileSelect}" /><br>
                <small>Please upload related attachments (jpg, png, pdf are allowed.)</small>
            </div>

            <p class="comTxt">Please upload related attachments (jpg, png, pdf are allowed.)</p>
            <input type="submit" name="Submit" class="customBtn btn">
        </div>

    </div>
</form>