

<div class="complaint_det-inner">
    <div class="inner-container">
        <div class="row">
            <div class="col-md-3"><strong>Name: </strong></div>
            <div class="col-md-4"><p data-bind="text: CitizenName"></p></div>
            <div class="col-md-2"><strong>  CNIC </strong></div>
            <div class="col-md-3"><p class="" data-bind="text: CitizenCnic"> </p></div>
        </div>
    </div>
</div>
<div class="complaint_det-inner">
    <div class="inner-container">
        <div class="row">
            <div class="col-md-3"><strong>Email Address: </strong></div>
            <div class="col-md-4"><p data-bind="text: CitizenEmailAddress"></p></div>
            <div class="col-md-2"><strong> Phone No: </strong></div>
            <div class="col-md-3"><p class="" data-bind="text: CitizenPhoneNumber"></p></div>
        </div>
    </div>
</div>
<div class="complaint_det-inner">
    <div class="inner-container">
        <div class="row">
            <div class="col-md-3"><strong>District: </strong></div>
            <div class="col-md-4"><p data-bind="text: Location"></p></div>
            <div class="col-md-2"><strong> Complaint Status: </strong></div>
            <div class="col-md-3"><p class="" data-bind="text: ComplaintStatus"></p></div>
        </div>
    </div>
</div>
<div class="complaint_det-inner">
    <div class="inner-container">
        <div class="row">
            <div class="col-md-3"><strong>Complaint Type: </strong></div>
            <div class="col-md-9"><p data-bind="text: ComplaintCategory"></p></div>
            
        </div>
    </div>
</div>

<div class="complaint_det-inner">
    <div class="inner-container"> 
        <div class="row">
            <div class="col-md-3"><strong>Complaint Title: </strong></div>
            <div class="col-md-9">
                <p data-bind="text: ComplaintTitle">
                </p>
            </div>
        </div>
    </div>
</div>
<div class="complaint_det-inner">
    <div class="inner-container">
        <div class="row">
            <div class="col-md-3"><strong>Complaint Detail: </strong></div>
            <div class="col-md-9">
                <p data-bind="text: ComplaintDescription">
                </p>
            </div>
        </div>
    </div>
</div>
