
    <div class="hd-holder">
        <h6>Complaint</h6>
        <span class="bd-line"></span>
    </div>
    <form role="form" id="form-complaint" enctype="multipart/form-data"  class="model-cus" data-bind="submit:onComplaintVerification">
        <div class="row">
            <div class="col-md-12">
                <small>* fields are mandatory!</small>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" data-bind="value:Name" type="text" placeholder="Enter Name *">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" data-bind="value:PhoneNumber" type="text" placeholder="Enter Phone Number *">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" data-bind="value:EmailAddress" type="text" placeholder="Enter Email Address *">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" data-bind="value:Cnic, masked: Cnic, mask: '00000-0000000-0'" type="text" placeholder="Enter CNIC Number *">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control"
                            data-bind="
                                    options: DistrictList,
                                    optionsText: 'Text',
                                    optionsValue: 'Value',
                                    value: SelectedDistrict,
                                    optionsCaption: 'Select District *'"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" data-bind="value:ComplaintTitle" type="text" placeholder="Enter Complaint Title *">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control"
                            data-bind="
                                    options: ComplaintTypes,
                                    optionsText: 'Text',
                                    optionsValue: 'Value',
                                    optionsCaption: 'Select Nature of Complaint *',
                                    value: SelectedComplaintType"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control" maxlength="500" style="overflow:auto;resize:none" rows="3" cols="20" data-bind="value:ComplaintDescription" type="text" placeholder="Enter Complaint Detail"></textarea>
                </div>
            </div>
            <div class="col-md-12" style="display:none" data-bind="visible:(selectedFiles().length > 0)">
                <div class="complaint-holder text-left">
                    <div class="file-attacments">
                        <div class="inner-container mt10">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Attacments:</h6>
                                </div>
                            </div>
                            <div class="row" data-bind="foreach:selectedFiles()">
                                <div class="col-md-6" data-bind="attr:{id: 'att' + $index() }">
                                    <div class="attachment-detail">
                                        <div class="file-status"><span><img src="~/images/doc-icon.svg" alt=""></span><i data-bind="text:name"></i></div>
                                        <div class="file-action">
                                            <a href="javascript:" title="delete" data-bind="click: $parent.deleteSelectedFile.bind($data,'att' + $index())"><img src="~/images/del-icon-news.svg" alt=""></a>
                                            <a href="javascript:" title="view" data-bind="click: $parent.viewSelectedFile.bind($data,'att' + $index())"><img src="~/images/view-icon.svg" alt=""></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="file-upload" class="custom-file-upload">
                        Choose File
                    </label>
                    <input id="file-upload" accept="image/jpeg, image/png, application/pdf" multiple type="file" data-bind="event:{change:onFileSelect}" /><br>
                    <small>Please upload Maximum 6 related attachments (jpg, png, pdf are allowed.) </small>
                </div>
            </div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
