@page "/complaint-form"
@{
    ViewData["Title"] = "ComplaintForm";
}
<div id="main" class="innerpage">
    <div class="container">
        <div class="bg-holder2" data-bind="ifnot:complaintSubmitted">
            <div class="row">
                <div class="col-md-8 left-box " style="display:none" data-bind="visible:displayVerification ">
                    <partial name="_ComplaintVerificationPartial" />
                </div>
                <div class="col-md-8 left-box" data-bind="ifnot:displayVerification, hidden:displayVerification">
                    <partial name="_ComplaintFormPartial" />
                </div>
                <div class="col-md-4 right-box">
                    <partial name="_ComplaintSearchPanelPartial" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="complaint-submitted" style="display:none" data-bind="visible:complaintSubmitted">
    <partial name="_ComplaintSubmittedPartial" />
</div>

@section scripts{
    <script src="@Url.Content("~/modules/complaint-form.js")"></script>

}
