.log-holder{
  padding-bottom: 10px;
  border-bottom: 1px solid $alto; 

  
} 
.dw-faqs {
        position: relative;
        margin: 0;
        @include media-breakpoint-up(lg) {
          position: absolute;
          right: 0;
          top: 0;
          margin: -55px 0 0 0;
        }
    li{ 
      float: left;
      padding: 0 10px;
      background-image: url('../images/pipeline.png');
      background-position: center right;
      background-repeat: no-repeat;
      a{
        color: #000;
        font-size: 12px;
        
      }
      &:last-child{
         padding-right: 0;
        border-right: none;
        background-image: none;
       
      }
    }
  }
.menu-holder{
  position: relative;
  .navbar{
    padding: 0;
  }
  @include media-breakpoint-down(md){
       
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
      #navbarSupportedContent{
        background: $white;
        z-index: 1;
        a{
          text-align: left;
          border-bottom: 1px solid $black;
        }
      }
    .navbar {
              padding: 0;
              justify-content: flex-end;
              text-align: right;
        }
   }
  .navbar-nav{
    width: 100%;
    li{
       flex-grow: 1;
        @include media-breakpoint-up(md) {
         &:last-child{
          margin-right: 0;
         }
        }
          .nav-link{
            color: $tundora;
            padding: 15px;
            font-size: 12px;
            line-height: 18px;
            font-weight: 300;
            @include media-breakpoint-up(lg) {
              padding: 20px 15px;
            }
            @include media-breakpoint-up(xl) {
              padding: 20px;
              font-size: 14px;
              line-height: 21px;
            }
            &:hover{
              background: $gallery;
              color: $fun-green;
            }
          }
      }
  }
   
}
.inner-menu-holder{
  position: relative;
}



