@page "/RegistryOfDeeds"
@{
    ViewData["Title"] = "RegistryOfDeeds";
}

<div id="main">
    <div class="banner-home about-page">
        <div class="banner about-banner">
            <div class="container">
                <div class="banner-detail">
                    <h1 class="heading">
                        Registry of Deeds
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-holder">
        <section class="land-record-digitization about-content">
            <div id="contentDescription" class="container ul-list-style ">

            </div>
        </section>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $lib.setPageTitle("Registry of Deeds");
            var pageId = 6;
            $lib.http.get('/content/' + pageId, (err, res) => {
                if (err) {
                    return
                }

                else {
                    document.getElementById("contentDescription").innerHTML = res.ContentDescription;
                }

            });
        }())
    </script>
}

